@model FrontEnd.Models.ViewModels.ActaNotificacionViewModel
@{ ViewBag.Title = "Editar Información de Acta de Notificación"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>

        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Editar", "ActaNotificacion", FormMethod.Post))
    {
        @Html.HiddenFor(d => d.IdActaDeNotificacion)
        @Html.HiddenFor(d => d.NumeroFolio)


        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.Notificado)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.Notificado, "", new { @class = "form-control", @id = "idNotificado", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-book-id="idNotificado" data-toggle="modal" data-target="#modalBusquedaPersona">Buscar</a>

                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.Notificado, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.Oficial)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.Oficial, "", new { @class = "form-control", @id = "idActuante", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-book-id="idActuante" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>

                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.Oficial, null, new { @class = "red" })
            </div>


            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.TipoTestigo)
                @Html.DropDownListFor(d => d.TipoTestigo, Model.TiposTestigo, "--Seleccione--", new { @class = "myselect form-control", @id = "idTipoTestigo" })
                @Html.ValidationMessageFor(d => d.TipoTestigo, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-3" id="idOficialTestigoCampo" style="display:none">
                @Html.LabelFor(d => d.IdTestigoPolicia)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdTestigoPolicia, "", new { @class = "form-control", @id = "idTestigoPolicia", @readonly = "readonly" })
                    <div class="input-group-append">
                        <a class="btn btn-primary" data-book-id="idTestigoPolicia" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3" id="idPersonaTestigoCampo" style="display:none">
                @Html.LabelFor(d => d.IdTestigoPersona)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdTestigoPersona, "", new { @class = "form-control", @id = "idTestigoPersona", @readonly = "readonly" })
                    <div class="input-group-append">
                        <a class="btn btn-primary" data-book-id="idTestigoPersona" data-toggle="modal" data-target="#modalBusquedaPersona">Buscar</a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Estado)
                @Html.DropDownListFor(d => d.Estado, Model.Estados, new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Estado, null, new { @class = "red" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Fecha)
                @Html.EditorFor(d => d.Fecha, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Hora)
                @Html.EditorFor(d => d.Hora, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Hora, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.Distrito)
                @Html.DropDownListFor(d => d.Distrito, Model.Distritos, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Distrito, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.Barrio)
                @Html.TextBoxFor(d => d.Barrio, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Barrio, null, new { @class = "red" })
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.DireccionExactaProcedimiento)
                @Html.TextAreaFor(d => d.DireccionExactaProcedimiento, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.DireccionExactaProcedimiento, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.Disposiciones)
                @Html.TextAreaFor(d => d.Disposiciones, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Disposiciones, null, new { @class = "red" })
            </div>

        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">

                    <a class="btn btn-secondary" href="~/ActaNotificacion/Index">Cancelar</a>
                    <script>
                        $('#btnSave').click(function () {
                            $('#show').modal('hide');
                        });

                    </script>
                    <input value="Guardar" class="btn btn-primary" type="button" id="hGuardar" data-toggle="modal" data-target="#show" />
                </div>

            </div>
        </div>

        <div class="modal" id="show">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar un Acta de Notificacion </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar una nueva acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="quitaPolicia">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un policía de un Acta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un policía de una acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a name="quitarPolicia" class="btn btn-danger" onclick="reply_click3(this.id)" data-dismiss="modal">Quitar </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="modalBusqueda" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Policía</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarPolicia" id="" />

                <div class="modal-body">
                    @{ Html.RenderAction("ListaPoliciasBuscar", "ActaNotificacion", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalBusquedaPersona" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarPersona" id="" />

                <div class="modal-body">
                    @{ Html.RenderAction("ListaPersonasBuscar", "ActaNotificacion", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function reply_click(clicked_id) {
        var aux = document.getElementsByName("agregarPolicia")[0].getAttribute("id");
        if (aux === "idActuante") {
            var elem = document.getElementById("idActuante");
        }
        if (aux === "idAcompanante") {
            var elem = document.getElementById("idAcompanante");
        }
        if (aux === "idTestigoPolicia") {
            var elem = document.getElementById("idTestigoPolicia");
        }

        elem.value = clicked_id;
        $('#modalBusqueda').modal('hide');
    }

    function reply_click4(clicked_id4) {
        var aux = document.getElementsByName("agregarPersona")[0].getAttribute("id");
        if (aux === "idNotificado") {
            var elem = document.getElementById("idNotificado");
        }
        if (aux === "idTestigoPersona") {
            var elem = document.getElementById("idTestigoPersona");
        }
        elem.value = clicked_id4;
        $('#modalBusquedaPersona').modal('hide');
    }

    function reply_click2(clicked_id2) {
        var elem2 = document.getElementByName("quitaPolicia");
        elem2.value = clicked_id2;
        $('#showQu').modal('hide');
    }

    function reply_click3(clicked_id3) {
        document.getElementById(clicked_id3).value = '';
    }
</script>
