@{
    ViewBag.Title = "Actas de Notificación";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "ActaNotificacion", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarFechaActa()" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Número de Folio";
                </script>
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="busqueda" type="text" id="busqueda" maxlength="151" style="text-transform:uppercase" onkeydown="return /[0-9A-Z -ÁáéÉíÍóÓúÚ]/i.test(event.key)" />
                <input class="form-control" name="busquedaFechaInicioH" type="date" id="busquedaFechaInicioH" style="display:none" />
                <label id="textFechaInicioH" style="display:none">Fecha de inicio</label>
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="busquedaFechaFinalH" type="date" id="busquedaFechaFinalH" style="display:none" />
                <label id="textFechaFinalH" style="display:none">Fecha final</label>
                <span id="errorFechaH"></span>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/ActaNotificacion/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>}
    <hr />

    <table class="table table-sm table-bordered" id="idtablaNotificacion">
        <thead class="table-dark">
            <tr>
                <th scope="col">Número de Folio</th>
                <th scope="col">Nombre del Notificado</th>
                <th scope="col">Cédula del Notificado</th>
                <th scope="col">Policía Actuante </th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <th scope="row">@oElemento.NumeroFolio</th>
                    <td>@oElemento.VistaPersonaNotificada</td>
                    <td>@oElemento.Notificado</td>
                    <td>@oElemento.VistaOficialActuante</td>
                    <td>@oElemento.Fecha.ToShortDateString()</td>
                    <td>
                        <div style="text-align:center;">
                            <a class="btn btn-sm btn-outline-secondary" href="~/ActaNotificacion/Detalle/@oElemento.IdActaDeNotificacion">Ver Detalles</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#idtablaNotificacion').DataTable({
            searching: false,
            lengthMenu: [[10], [10]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });


</script>
