
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCAP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="background-image: url('https://cdn.discordapp.com/attachments/894600217746354226/920456009607159848/v996-008.jpg'); ">
    <div class="contenedor-imagenes">

        <img src="~/SourcesSCAP/ScapLogo2.png">
        <img src="~/SourcesSCAP/MuniLogo.png">

    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00277B;">
        <a class="navbar-brand" href="#">SCAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Policia/Index/">Policías</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Requisito/Index/">Requisitos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Arma/Index/">Armas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Bitacora/Index/">Bitácoras</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Persona/Index/">Personas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Infractor/Index/">Infractores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Acta/Index/">Actas</a>
                </li>

            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="navbar-brand">
                        @*@Session["Username"]*@
                    </a>

                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()

        <footer class="fixed-bottom" style="background-color:#00277B;">
            <p style="color:white; text-align:center">&copy; @DateTime.Now.Year - Municipalidad de Alajuela</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/validations")
    @Scripts.Render("~/bundles/busqueda")
    @Scripts.Render("~/bundles/ValidarEstatura")
    @RenderSection("scripts", required: false)
</body>



</html>