@model FrontEnd.Models.ViewModels.ActaDeDestruccionDePerecederosViewModel

@{ ViewBag.Title = "Detalle de Acta de Destrucción de Perecederos"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaPoliciaEncargado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaEncargado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoTestigo)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoTestigo)
        </dd>
        @if (Model.VistaTestigo != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.VistaTestigo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaTestigo)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.VistaIdTestigo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaIdTestigo)
            </dd>
        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Supervisor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoActaD)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoActaD)
        </dd>
        @if (Model.ConsecutivoActaDecomiso != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ConsecutivoActaDecomiso)
            </dt>
            <dd class="col-sm-8 ">
                <a href="~/ActaDecomiso/Detalle/@Model.IdActaDecomiso" target="_blank">
                    @Html.DisplayTextFor(d => d.NumeroActaLigada)
                </a>
            </dd>
        }
        else
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ConsecutivoActaHallazgo)
            </dt>
            <dd class="col-sm-8 ">
                <a href="~/ActaHallazgo/Detalle/@Model.IdActaHallazgo" target="_blank">
                    @Html.DisplayTextFor(d => d.NumeroActaLigada)
                </a>
            </dd>
        }

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.InventarioDestruido)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.InventarioDestruido)
        </dd>
    </dl>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaDeDestruccionDePerecederos/Index/" class="btn btn-outline-secondary">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaDeDestruccionDePerecederos/Editar/@Model.IdActaDeDestruccionDePerecederos">Editar</a>
                <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaDeDestruccionDePerecederos">Ver Auditorias</a>
                <a href="~/ActaDeDestruccionDePerecederos/CreatePDF/@Model.IdActaDeDestruccionDePerecederos" class="btn btn-outline-secondary">Imprimir</a>
                </div> }
            </div>

    </div>


</div>