@model FrontEnd.Models.ViewModels.ActaHallazgoViewModel

@{ ViewBag.Title = "Detalle de Acta de Hallazgo"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>

    <hr />

    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NumeroFolio)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaPoliciaEncargado)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaPoliciaEncargado)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoTestigo)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoTestigo)</text>
                </div>
            </li>
            @if (Model.VistaTestigo != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTestigo)</text>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaIdTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaIdTestigo)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaPoliciaSupervisor)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaDistrito)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaDistrito)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Fecha)</b>
                    <text class="col-sm-8">
                        @{ var fecha = Model.Fecha.ToShortDateString(); }
                        @Html.DisplayTextFor(d => fecha)
                    </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Hora)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Hora.TimeOfDay)</text>
                </div>
                </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Avenida)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Avenida)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Calle)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Calle)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.OtrasSenas)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.OtrasSenas)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Inventario)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Inventario)</text>
                </div>
            </li>
            @if (Model.Observaciones != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.Observaciones)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.Observaciones)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstadoActa)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstadoActa)</text>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaHallazgo/Index/" class="btn btn-outline-secondary">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/ActaHallazgo/Editar/@Model.IdActaHallazgo">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaHallazgo">Ver Auditorias</a>
                    <a href="~/ActaHallazgo/CreatePDF/@Model.IdActaHallazgo" class="btn btn-outline-secondary" target="_blank">Imprimir</a>
                </div>
            }
        </div>

    </div>


</div>
