@model FrontEnd.Models.ViewModels.ActaHallazgoViewModel

@{ ViewBag.Title = "Detalle de Acta de Hallazgo"; }


<div class="container bg-light text-dark border" style="height: 80vh; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaPoliciaTestigo)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaEncargado)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaPoliciaTestigo)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaTestigo)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Supervisor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaDistrito)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaDistrito)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Avenida)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Avenida)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Calle)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Calle)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.OtrasSenas)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.OtrasSenas)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Inventario)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Inventario)
        </dd>
        @if (Model.Observaciones != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.Observaciones)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.Observaciones)
            </dd>
        }
    </dl>
    <hr />
    @if (@ViewBag.smsnuevaActaH != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smsnuevaActaH</h4>
        </div>}
    @if (@ViewBag.smseditaractaH != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smseditaractaH</h4>
        </div>}

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaHallazgo/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaHallazgo/Editar/@Model.IdActaHallazgo">Editar</a>

            </div>
        </div>

    </div>


</div>
