@model FrontEnd.Models.ViewModels.ActaHallazgoViewModel

@{ ViewBag.Title = "Detalle de Acta de Hallazgo"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaPoliciaEncargado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaEncargado)
        </dd>
        @if (Model.VistaPoliciaTestigo != null)
        {
            <dt class="col-sm-4">
                @Html.LabelFor(d => d.VistaPoliciaTestigo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaPoliciaTestigo)
            </dd>
        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Supervisor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaDistrito)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaDistrito)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Avenida)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Avenida)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Calle)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Calle)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.OtrasSenas)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.OtrasSenas)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Inventario)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Inventario)
        </dd>
        @if (Model.Observaciones != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.Observaciones)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.Observaciones)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaEstadoActa)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaEstadoActa)
        </dd>
        @*<dd class="col-sm-8">
            <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#show3">Cambiar Estado</a>
        </dd>*@


    </dl>
    <hr />
    

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaHallazgo/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaHallazgo/Editar/@Model.IdActaHallazgo">Editar</a>
                <a class="btn btn-secondary" href="~/Auditoria/ListadoActaHallazgo/@Model.IdActaHallazgo">Ver Auditorias</a>
            </div>
        </div>

    </div>


</div>

@*<div class="modal" id="show3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea modificar el estado del acta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" id="Save" href="~/ActaHallazgo/CambioEstadoActa/@Model.Estado">Modificar</a>
            </div>
        </div>
    </div>
</div>*@
