@{ ViewBag.Title = "Actas de Hallazgo"; }
<div class="container bg-light text-dark border" style=" height:auto; padding-bottom:10px; margin-bottom:50px">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    <hr /> 
    @using (Html.BeginForm("Index", "ActaHallazgo", FormMethod.Get))
    {
<div class="form-row">
    <div class="col-sm-3">
        <select class="form-control" name="filtroSeleccionado" id="filtroSeleccionado" onclick="ocultarFechaActa()">
            <option selected>Numero de Folio</option>
            <option>Nombre Policia Encargado</option>
            <option>Fecha</option>
        </select>
    </div>
    <div class="col-sm-3">
        <input class="form-control" name="busqueda" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" />
        <input class="form-control" name="busquedaFechaInicioH" type="date" id="busquedaFechaInicioH" style="display:none" />
        <label id="textFechaInicioH" style="display:none">Fecha de inicio</label>
    </div>

    <div class="col-sm-3">
        <input class="form-control" name="busquedaFechaFinalH" type="date" id="busquedaFechaFinalH" style="display:none" />
        <label id="textFechaFinalH" style="display:none">Fecha final</label>
        <span id="errorFechaH"></span>
    </div>

    <div class="col-sm-1">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-sm-1">
        <a href="~/ActaHallazgo/Nuevo" class="btn btn-success">Agregar</a>
    </div>
</div>}
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numero de Folio</th>
                        <th scope="col">Policia Encargado </th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Distrito</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
        <tr>
            <th scope="row">@oElemento.NumeroFolio</th>
            <td>@oElemento.Encargado</td>
            <td>@oElemento.Fecha.ToShortDateString()</td>
            <td>@oElemento.VistaDistrito</td>
            <td>
                <div style="text-align:center;">
                    <a class="btn btn-sm btn-outline-info" href="~/ActaHallazgo/Detalle/@oElemento.IdActaHallazgo">Ver Detalles</a>
                    @*<a class="btn btn-sm btn-outline-secondary">Aditorí­as</a>*@
                </div>
            </td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>

</div>
