@model FrontEnd.Models.ViewModels.ActaEntregaPorOrdenDeViewModel

@{
    ViewBag.Title = "Información de la Auditoría";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2>

                @Html.DisplayTextFor(d => d.VistaElemento)
            </h2>
        </div>
    </div>
    <dl class=" row">
        <dt class="col-sm-4">
            @Html.Label("Categoria")
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaCategoria)
        </dd>
        <dt class="col-sm-4">
            @Html.Label("Fecha")
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Fecha)
        </dd>

        <dt class="col-sm-4">
            @Html.Label("Acción")
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaAccion)
        </dd>
        <dt class="col-sm-4">
            @Html.Label("Usuario")
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaUsuario)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-sm-12">

            <a class="btn btn-outline-secondary" onclick="history.go(-1);">Regresar</a>


        </div>
    </div>


</div>
