@model List<FrontEnd.Models.ViewModels.Parte1ViewModel>


@{
    ViewBag.Title = "Listado de Auditorias";

}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h3 class="display-4">@ViewBag.Title </h3>
            </div>
            <hr />
        </div>
    </div>
    @using (Html.BeginForm("ListadoPartePolicial", "Auditoria", FormMethod.Get))
    {
        <div class="row">
           <div class="col mb-3">
                <h1 class="h2">@HttpContext.Current.Session["numeroFolio"].ToString()</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" name="filtrosSeleccionado" id="filtrosSeleccionado" onclick="ocultarFechaAuditoriaPolicia()">
                    <option value="0" selected="selected">--Seleccione--</option>
                    <option value="1">Acción</option>
                    <option value="2">Fecha</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="tiposAccion" id="tiposAccion">
                    <option value="0" selected="selected">--Seleccione--</option>
                    <option value="Agregar">Agregar</option>
                    <option value="Editar">Editar</option>
                    <option value="Modificar Estado">Modificar Estado</option>

                </select>
                <input class="form-control" name="busquedaFechaInicioP" type="date" id="busquedaFechaInicioP" style="display:none" />
                <label id="textFechaInicioP" style="display:none">Fecha de inicio</label>
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="busquedaFechaFinalP" type="date" id="busquedaFechaFinalP" style="display:none" />
                <label id="textFechaFinalP" style="display:none">Fecha final</label>
                <span id="errorFechaH"></span>
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered center table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Usuario</th>
                            <th scope="col"> Acción</th>
                            <th scope="col"> Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var oElemento in Model.Take(10))
                        {
                            <tr>
                                <th scope="row">@oElemento.VistaUsuario</th>
                                <td>@oElemento.VistaAccion</td>
                                <td>@oElemento.Fecha</td>
                                <td>
                                    <div style="text-align:center;">
                                        <a class="btn btn-sm btn-outline-info" href="~/Auditoria/DetallePartePolicial/@oElemento.IdAuditoria">Ver Detalles</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    <hr />
    <div class="row">
        <div class="col-sm-9">
            <a class="btn btn-outline-secondary" href="~/Parte/Detalle1/@HttpContext.Current.Session["idParte"].ToString()">Regresar</a>
        </div>
    </div>
</div>



