@model FrontEnd.Models.ViewModels.ActaNotificacionVendedorAmbulanteViewModel

@{ ViewBag.Title = "Detalle de Acta de Notificación a Vendedor Ambulante"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>


    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NumeroFolio)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaOficialActuante)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaOficialActuante)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoTestigo)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoTestigo)</text>
                </div>
            </li>
            @if (Model.VistaTestigo != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTestigo)</text>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaIdTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaIdTestigo)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Fecha)</b>
                    <text class="col-sm-8">
                        @{ var fecha = Model.Fecha.ToShortDateString(); }
                        @Html.DisplayTextFor(d => fecha)
                    </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Hora)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Hora.TimeOfDay)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaPersonaNotificada)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaPersonaNotificada)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoDistrito)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoDistrito)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Caserio)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Caserio)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.DireccionNotificacion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.DireccionNotificacion)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaFormaDeVenta)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaFormaDeVenta)</text>
                </div>
            </li>
            @if (Model.PlacaVehiculo != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.PlacaVehiculo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.PlacaVehiculo)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.ActividadVenta)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.ActividadVenta)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.DireccionNotificado)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.DireccionNotificado)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstadoActa)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstadoActa)</text>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaNotificacionVendedorAmbulante/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaNotificacionVendedorAmbulante/Editar/@Model.IdActaNotificacionVendedorAmbulante">Editar</a>
                <a class="btn btn-secondary" target="_blank" href="~/Auditoria/ListadoAuditoria/@Model.IdActaNotificacionVendedorAmbulante">Ver Auditorías</a>
                <a href="~/ActaNotificacionVendedorAmbulante/CreatePDF/@Model.IdActaNotificacionVendedorAmbulante" class="btn btn-outline-secondary">Imprimir</a>
            </div>
        </div>

    </div>


</div>
