@model FrontEnd.Models.ViewModels.ListArmaViewModel

@{ ViewBag.Title = "Arma"; }


<div class=" container">
    <div class="row mb-3">
        <h3 class="display-4">@ViewBag.Title</h3>
    </div>

    <dl class=" row">
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.NumeroSerie)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.NumeroSerie)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.NombrePolicia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.NombrePolicia)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TipoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.TipoArma)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Marca)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Marca)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Modelo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Modelo)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Calibre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Calibre)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Condicion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Condicion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Ubicacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Ubicacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Observacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Observacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.EstadoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.EstadoArma)
        </dd>
        <dd class="col-sm-8">
            <a class="btn btn-warning" data-toggle="modal" data-target="#show3">Cambiar Estado</a>
        </dd>
    </dl>


    <div style="text-align:center;">
        <a class="btn btn-primary" href="~/Arma/Editar/@Model.IdArma">Editar</a>
        <a class="btn btn-info" href="~/Arma/Index/">Regresar</a>
    </div>
</div>
<div class="modal" id="show3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea modificar el estado del arma?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" id="Save"  href="~/Arma/CambioEstadoArma/@Model.EstadoArma">Modificar</a>
            </div>
        </div>
    </div>
</div>
