@model FrontEnd.Models.ViewModels.ArmaViewModel

@{ ViewBag.Title = "Arma"; }


<div class=" container">
    <div class="row mb-3">
        <h3 class="display-4">@ViewBag.Title</h3>
    </div>

    <dl class=" row">
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.NumeroSerie)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.NumeroSerie)
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.PoliciaAsignado)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.PoliciaAsignado)
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TipoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.TipoArma)
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Marca)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Marca)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Modelo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Modelo)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Calibre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Calibre)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Condicion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Condicion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Ubicacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Ubicacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Observacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Observacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.EstadoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.EstadoArma)
        </dd>

        <dd class="col-sm-8">
            <a class="btn btn-warning" data-toggle="modal">Cambiar Estado</a>
        </dd>

    </dl>


    <div style="text-align:center;">
        <a class="btn btn-primary" href="~/Arma/Editar/@Model.IdArma">Editar</a>
        <a class="btn btn-info" href="~/Arma/Index/">Regresar</a>
    </div>

</div>