@model FrontEnd.Models.ViewModels.ArmaViewModel

@{ ViewBag.Title = "Información del Arma"; }


<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>
    <hr />

    <dl class=" row">
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.NumeroSerie)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.NumeroSerie)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.NombrePolicia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.NombrePolicia)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaTipoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaTipoArma)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaMarca)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaMarca)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.ModeloArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.ModeloArma)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaCalibre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaCalibre)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaCondicion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaCondicion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaUbicacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaUbicacion)
        </dd>
        @if (Model.Observacion != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Observaciones")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.Observacion)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaEstadoArma)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaEstadoArma)
        </dd>
        <dd class="col-sm-8">
            <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#show3">Cambiar Estado</a>
        </dd>
    </dl>
    <hr />
     @if (@ViewBag.smseditararma != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smseditararma</h4>
        </div>}
    @if (@ViewBag.smscambioestadoarma != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smscambioestadoarma</h4>
        </div>}
    @if (@ViewBag.smsnuevaarma != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smsnuevaarma</h4>
        </div>}
    <div class="row">
        <div class="col-sm-12">
            <a href="~/Arma/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/Arma/Editar/@Model.IdArma">Editar</a>

            </div>
        </div>

    </div>
   
</div>


<div class="modal" id="show3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea modificar el estado del arma?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" id="Save"  href="~/Arma/CambioEstadoArma/@Model.EstadoArma">Modificar</a>
            </div>
        </div>
    </div>
</div>
