@model FrontEnd.Models.ViewModels.ArmaViewModel

@{ ViewBag.Title = "Información del Arma"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.ModeloArma)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.ModeloArma)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.ModeloArma)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.NombrePolicia)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.NombrePolicia)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoArma)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoArma) </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaMarca)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaMarca)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.ModeloArma)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.ModeloArma)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaCalibre)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaCalibre)</text>
                </div>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaCondicion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaCondicion)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaUbicacion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaUbicacion)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstadoArma)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstadoArma)</text>
                </div>
            </li>
            @if (Model.Observacion != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.Observacion)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.Observacion)</text>
                    </div>
                </li>
            }
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                    <a class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#show">Cambiar Estado</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/Arma/Index/" class="btn btn-outline-secondary">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/Arma/Editar/@Model.IdArma">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdArma" target="_blank">Ver Auditorías</a>
                </div>
            }
        </div>

    </div>

    <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showLabel">Modificar Estado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea modificar el estado del arma?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" id="btnSave" href="~/Arma/CambioEstado/">Modificar</a>
                </div>
            </div>

        </div>
    </div>
</div>


