@model FrontEnd.Models.ViewModels.ArmaViewModel
@{
    ViewBag.Title = "Editar Arma";
}

<div class="container">
    <div class="row mb-3">
        <h2 class="display-4">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("Editar", "Arma", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            @Html.HiddenFor(d => d.IdArma)
            @Html.HiddenFor(d => d.EstadoArma)
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.NumeroSerie)
                @Html.TextBoxFor(d => d.NumeroSerie, "", new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })

            </div>
            <div class="form-group col-md-6">
                @Html.ValidationMessageFor(d => d.NumeroSerie, null, new { @class = "red" })

            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.PoliciaAsignado)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.PoliciaAsignado, "", new { @class = "form-control" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Buscar</a>
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.PoliciaAsignado, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.TipoArma)
                @Html.DropDownListFor(d => d.TipoArma, Model.TiposArma, new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.TipoArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.Marca)
                @Html.TextBoxFor(d => d.Marca, "", new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
            </div>
            <div class="form-group col-md-8">
                @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.ModeloArma)
                @Html.TextBoxFor(d => d.ModeloArma, "", new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
            </div>
            <div class="form-group col-md-6">
                @Html.ValidationMessageFor(d => d.ModeloArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Calibre)
                @Html.DropDownListFor(d => d.Calibre, Model.TiposCalibre, new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Calibre, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Condicion)
                @Html.DropDownListFor(d => d.Condicion, Model.TiposCondicion, new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Condicion, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Ubicacion)
                @Html.DropDownListFor(d => d.Ubicacion, Model.TiposUbicacion, new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Ubicacion, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Observacion)
                @Html.TextAreaFor(d => d.Observacion, new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
                @Html.ValidationMessageFor(d => d.Observacion, null, new { @class = "red" })
            </div>

            <div class="modal" id="show" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modificar Infractor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro que modificar los datos del Arma?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="Save">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <div style="text-align:right;">
                        <input value="Guardar" class="btn btn-primary" type="button" id="hGuardar" data-toggle="modal" data-target="#show" />

                    </div>
                </div>
            </div>
        </div>}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Policía</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nombre Policía:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>