@model  List<FrontEnd.Models.ViewModels.ArmaViewModel>

@{
    ViewBag.Title = "Armas";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Arma", FormMethod.Get))
    {
        <div class="form-row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-control", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarFechaActa()" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Policía Asignado";
                </script>
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" maxlength="150" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return  sololetrasnumeros(event)" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/Arma/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm" id="idtablaArma">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Policía Asignado</th>
                        <th scope="col">Número de Serie</th>
                        <th scope="col">Tipo de Arma</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.NombrePolicia</th>
                            <td>@oElemento.NumeroSerie</td>
                            <td>@oElemento.VistaTipoArma</td>
                            <td>
                                <div style="text-align:center;">
                                    <a class="btn btn-sm btn-outline-info" href="~/Arma/Detalle/@oElemento.IdArma">Ver Detalles</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#idtablaArma').DataTable({
            searching: false,
            lengthMenu: [[6], [6]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });


</script>
