@model FrontEnd.Models.ViewModels.ArmaViewModel
@{
    ViewBag.Title = "Agregar Información de Arma";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Nuevo", "Arma", FormMethod.Post))
    {
        <div class="row mb-4">
            <div class="form-group col-md-3 position-relative">
                @Html.LabelFor(d => d.NumeroSerie)
                @Html.TextBoxFor(d => d.NumeroSerie, "", new { @class = "form-control", @maxlength = "20", @style = "text-transform:uppercase", @onkeydown = "return /[0-9a-zA-Z- ]/i.test(event.key)", autocomplete = "off" })
                @Html.ValidationMessageFor(d => d.NumeroSerie, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2 position-relative">
                @Html.LabelFor(d => d.TipoArma)
                @Html.DropDownListFor(d => d.TipoArma, Model.TiposArma, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.TipoArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-3 position-relative">
                @Html.LabelFor(d => d.Marca)
                @Html.DropDownListFor(d => d.Marca, Model.TiposMarcas, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4 position-relative">
                @Html.LabelFor(d => d.Ubicacion)
                @Html.DropDownListFor(d => d.Ubicacion, Model.TiposUbicacion, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.Ubicacion, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-4 position-relative">
                @Html.LabelFor(d => d.ModeloArma)
                @Html.TextBoxFor(d => d.ModeloArma, "", new { @class = "form-control", @maxlength = "50", @style = "text-transform:uppercase", @onkeydown = "return /[0-9a-zA-Z ]/i.test(event.key)" })
                @Html.ValidationMessageFor(d => d.ModeloArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4 position-relative">
                @Html.LabelFor(d => d.Calibre)
                @Html.DropDownListFor(d => d.Calibre, Model.TiposCalibre, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.Calibre, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4 position-relative">
                @Html.LabelFor(d => d.Condicion)
                @Html.DropDownListFor(d => d.Condicion, Model.TiposCondicion, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.Condicion, null, new { @class = "red" })
            </div>

        </div>
        <div class="row mb-4">
            <div class="form-group col-md-12 position-relative">
                @Html.LabelFor(d => d.Observacion)
                @Html.TextAreaFor(d => d.Observacion, new { @class = "form-control", @maxlength = "150",@style = "text-transform:uppercase" })
                @Html.ValidationMessageFor(d => d.Observacion, null, new { @class = "red" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <a class="btn btn-secondary" href="~/Arma/Index">Cancelar</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show">Guardar</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showLabel">Agregar un Arma</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar una nueva arma?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    }


</div>
