@model FrontEnd.Models.ViewModels.ArmaViewModel
@{
    ViewBag.Title = "Agregar Información de Arma";
}

<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />

    @using (Html.BeginForm("Nuevo", "Arma", FormMethod.Post))
    {
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.NumeroSerie)
                @Html.TextBoxFor(d => d.NumeroSerie, "", new { @class = "form-control", @onkeypress = "return sololetrasnumerossimbolos(event)"})
                @if (Model.SerieFiltrada != null)
                {
                    @Html.ValidationMessageFor(d => d.NumeroSerie, "El numero de serie ya existe.", new { @class = "red" })
                }
                @Html.ValidationMessageFor(d => d.NumeroSerie, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.PoliciaAsignado)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.PoliciaAsignado, "", new { @class = "form-control", @id = "idPolicia", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Buscar</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#showQu">Quitar</a>
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.PoliciaAsignado, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.TipoArma)
                @Html.DropDownListFor(d => d.TipoArma, Model.TiposArma, "--Seleccione--", new { @class = "myselect form-control" })

                @Html.ValidationMessageFor(d => d.TipoArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Marca)
                @Html.DropDownListFor(d => d.Marca, Model.TiposMarcas, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.ModeloArma)
                @Html.TextBoxFor(d => d.ModeloArma, "", new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
                @Html.ValidationMessageFor(d => d.ModeloArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Calibre)
                @Html.DropDownListFor(d => d.Calibre, Model.TiposCalibre, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Calibre, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Condicion)
                @Html.DropDownListFor(d => d.Condicion, Model.TiposCondicion, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Condicion, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Ubicacion)
                @Html.DropDownListFor(d => d.Ubicacion, Model.TiposUbicacion, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Ubicacion, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.LabelFor(d => d.Observacion)
                @Html.TextAreaFor(d => d.Observacion, new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
                @Html.ValidationMessageFor(d => d.Observacion, null, new { @class = "red" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <input value="Guardar" class="btn btn-primary" type="button" id="hGuardar" data-toggle="modal" data-target="#show" />
                    <a class="btn btn-secondary" href="~/Arma/Index">Cancelar</a>
                </div>
            </div>
        </div>

        <div class="modal" id="show" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar un Arma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar una nueva arma?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="showQu" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un Policía de un Arma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un policía de un arma?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" onclick="document.getElementById('idPolicia').value = ''" id="Quitar" data-dismiss="modal">Quitar </button>
                    </div>
                </div>
            </div>
        </div>}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Policía</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("ListaPoliciasBuscar", "Arma", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function reply_click(clicked_id) {
        var elem = document.getElementById("idPolicia");
        elem.value = clicked_id;
        $('#exampleModal').modal('hide');
    }
    function reply_click2(clicked_id2) {
            var elem2 = document.getElementById("Quitar");
            elem2.value = clicked_id2;
            $('#showQu').modal('hide');
    }
    </script>
