@model FrontEnd.Models.ViewModels.ListParte1ViewModel

@{ ViewBag.Title = "Detalle del Parte"; }

<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Distrito)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Distrito)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Barrio)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Barrio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Direccion)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Direccion)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.LugarSuceso)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.LugarSuceso)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.IdentificacionInfractor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.IdentificacionInfractor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreInfractor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreInfractor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.AprendidoInfractor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.AprendidoInfractor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.HoraAprehension)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.HoraAprehension)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.EntendidoInfractor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.EntendidoInfractor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Vestimenta)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Vestimenta)
        </dd>



    </dl>
    <hr />
    @if (@ViewBag.smsnuevoparte != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smsnuevoparte</h4>
        </div>}
    <div class="form-row">
        <div class="form-group col-md-11">
            <a class="btn btn-outline-secondary" href="~/Parte/Index">Cancelar</a>
        </div>
        <div class="form-group col-md-1">
            <a class="btn btn-primary" href="~/Parte/Detalle2/@HttpContext.Current.Session["idParte"].ToString()">Siguiente</a>

        </div>
    </div>

</div>
