@model List<FrontEnd.Models.ViewModels.ListParte1ViewModel>
@{ ViewBag.Title = "Parte Policial";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Index", "Parte", FormMethod.Get))
    {
<div class="form-row">
    <div class="col-sm-3">
        @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-control", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarFechaParte()" })
        <script>
            document.getElementById("filtroSeleccionado").value = "Número de Folio";
        </script>       

    </div>
    <div class="col-sm-3">
        <input class="form-control" name="busqueda" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return sololetrasnumerossimbolos(event)" />
        <input class="form-control" name="busquedaFechaInicioP" type="date" id="busquedaFechaInicioP" style="display:none" />
        <label id="textFechaInicioP" style="display:none">Fecha de inicio</label>
    </div>

    <div class="col-sm-3">
        <input class="form-control" name="busquedaFechaFinalP" type="date" id="busquedaFechaFinalP" style="display:none" />
        <label id="textFechaFinalP" style="display:none">Fecha final</label>
        <span id="errorFechaP"></span>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-sm-1">
        <a href="~/Parte/Nuevo1" onclick="VaciarParteIndex()" class="btn btn-success">Agregar</a>
    </div>
</div>}

    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numero de Folio</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Infractor</th>
                        <th scope="col">Policía Actuante</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.NumeroFolio</th>
                            <td>@oElemento.Fecha.ToShortDateString()</td>
                            <td>@oElemento.NombreInfractor</td>
                            <td>@oElemento.NombrePoliciaActuante</td>
                            <td>
                                <div style="text-align:center;">
                                    <a class="btn btn-sm btn-outline-info" href="~/Parte/Detalle1/@oElemento.IdParte">Ver Detalles</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>
<script>

    function VaciarParteIndex() {
        $.post("@Url.Action("SetSession","Home")", function () {
            //done. Do something else
        });
    }
</script>