@model FrontEnd.Models.ViewModels.Parte1ViewModel
@{
    ViewBag.Title = "Agregar Información del Parte Policial";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    @using (Html.BeginForm("Nuevo2", "Parte", FormMethod.Post))
    {
        <div style="text-align:center;">
            <h1 class="display-5">@ViewBag.Title</h1>
        </div>
        <div style="text-align:center;">
            <h3>Información del Ofendido(s)</h3>
        </div>

        <div class="row mb-4">
            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionOfendido1)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido1, "", new { @class = "form-control", @id = "idOfendido1", @readonly = "readonly" })                   
                        <a class="btn btn-primary" data-book-id="idOfendido1" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>                   
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido1, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreOfendido1)
                @Html.TextBoxFor(d => d.NombreOfendido1, "", new { @class = "form-control", @id = "NOfendido1", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreOfendido1, null, new { @class = "red" })
            </div>


            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionOfendido2)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido2, "", new
                    {
                        @class = "form-control",
                        @id = "idOfendido2",
                        @readonly = "readonly"@*, @onclick = "parteValidacionesPersonas()"*@})
                        <a class="btn btn-primary" data-book-id="idOfendido2" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido2, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreOfendido2)
                @Html.TextBoxFor(d => d.NombreOfendido2, "", new { @class = "form-control", @id = "NOfendido2", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreOfendido2, null, new { @class = "red" })
            </div>


            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionOfendido3)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido3, "", new
                    {
                        @class = "form-control",
                        @id = "idOfendido3",
                        @readonly = "readonly"@*, @onclick = "parteValidacionesPersonas()"*@})
                        <a class="btn btn-primary" data-book-id="idOfendido3" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido3, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreOfendido3)
                @Html.TextBoxFor(d => d.NombreOfendido3, "", new { @class = "form-control", @id = "NOfendido3", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreOfendido3, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionOfendido4)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido4, "", new { @class = "form-control", @id = "idOfendido4", @readonly = "readonly" })
                        <a class="btn btn-primary" data-book-id="idOfendido4" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido4, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreOfendido4)
                @Html.TextBoxFor(d => d.NombreOfendido4, "", new { @class = "form-control", @id = "NOfendido4", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreOfendido4, null, new { @class = "red" })
            </div>


            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionOfendido5)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido5, "", new { @class = "form-control", @id = "idOfendido5", @readonly = "readonly" })
                        <a class="btn btn-primary" data-book-id="idOfendido5" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido5, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreOfendido5)
                @Html.TextBoxFor(d => d.NombreOfendido5, "", new { @class = "form-control", @id = "NOfendido5", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreOfendido5, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div style="text-align:center">
                    <h3>Información de los Testigos</h3>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionTestigo1)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionTestigo1, "", new { @class = "form-control", @id = "idTestigo1", @readonly = "readonly" })
                    <a class="btn btn-primary" data-book-id="idTestigo1" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionTestigo1, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreTestigo1)
                @Html.TextBoxFor(d => d.NombreTestigo1, "", new { @class = "form-control", @id = "NTestigo1", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreTestigo1, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.IdentificacionTestigo2)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionTestigo2, "", new { @class = "form-control", @id = "idTestigo2", @readonly = "readonly" })
                        <a class="btn btn-primary" data-book-id="idTestigo2" data-bs-toggle="modal" data-bs-target="#modalBusquedaPersona">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionTestigo2, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.NombreTestigo2)
                @Html.TextBoxFor(d => d.NombreTestigo2, "", new { @class = "form-control", @id = "NTestigo2", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.NombreTestigo2, null, new { @class = "red" })
            </div>
        </div>




        <div class="row mb-4">
            <div class="form-group col-md-10">
                <a class="btn btn-outline-secondary" href="~/Parte/Nuevo1">Regresar</a>

            </div>
            <div class="form-group col-md-2">
                <input value="Siguiente" type="submit" class="btn btn-primary" id="btnSave2" />

            </div>
        </div>


    }

<div class="modal fade" id="modalBusquedaPersona" tabindex="-1" role="dialog" aria-labelledby="modalBusquedaPersonaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBusquedaPersonaLabel">Buscar Persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
            </div>
            <p hidden name="agregarPersona" id="" />
            <div class="modal-body">
                @{ Html.RenderAction("ListaPersonasBuscar", "Parte", new { nombre = "" }); }
            </div>
        </div>
    </div>
</div>



</div>

<script>

    function reply_click5(clicked_id5, clicked_name5) {
        var aux = document.getElementsByName("agregarPersona")[0].getAttribute("id");
        if (aux === "idOfendido1") {
            var elem = document.getElementById("idOfendido1");
            var elem2 = document.getElementById("NOfendido1");
        }
        if (aux === "idOfendido2") {
            var elem = document.getElementById("idOfendido2");
            var elem2 = document.getElementById("NOfendido2");
        }
        if (aux === "idOfendido3") {
            var elem = document.getElementById("idOfendido3");
            var elem2 = document.getElementById("NOfendido3");
        }
        if (aux === "idOfendido4") {
            var elem = document.getElementById("idOfendido4");
            var elem2 = document.getElementById("NOfendido4");
        }
        if (aux === "idOfendido5") {
            var elem = document.getElementById("idOfendido5");
            var elem2 = document.getElementById("NOfendido5");
        }
        if (aux === "idTestigo1") {
            var elem = document.getElementById("idTestigo1");
            var elem2 = document.getElementById("NTestigo1");
        }
        if (aux === "idTestigo2") {
            var elem = document.getElementById("idTestigo2");
            var elem2 = document.getElementById("NTestigo2");
        }
        elem.value = clicked_id5;
        elem2.value = clicked_name5;
        $('#modalBusqueda').modal('hide');
    }

    function reply_click6(clicked_id6) {
        var elem2 = document.getElementById("quitaPolicia");
        elem2.value = clicked_id6;
        $('#showQu').modal('hide');
    }

    function reply_click7(clicked_id7) {
        if (clicked_id7 === "idOfendido1") {
            document.getElementById("idOfendido1").value = '';
            document.getElementById("NOfendido1").value = '';
        }
        if (clicked_id7 === "idOfendido2") {
            document.getElementById("idOfendido2").value = '';
            document.getElementById("NOfendido2").value = '';
        }
        if (clicked_id7 === "idOfendido3") {
            document.getElementById("idOfendido3").value = '';
            document.getElementById("NOfendido3").value = '';
        }
        if (clicked_id7 === "idOfendido4") {
            document.getElementById("idOfendido4").value = '';
            document.getElementById("NOfendido4").value = '';
        }
        if (clicked_id7 === "idOfendido5") {
            document.getElementById("idOfendido5").value = '';
            document.getElementById("NOfendido5").value = '';
        }
        if (clicked_id7 === "idTestigo1") {
            document.getElementById("idTestigo1").value = '';
            document.getElementById("NTestigo1").value = '';
        }
        if (clicked_id7 === "idTestigo2") {
            document.getElementById("idTestigo2").value = '';
            document.getElementById("NTestigo2").value = '';
        }
    }

</script>



