@model FrontEnd.Models.ViewModels.Parte1ViewModel
@{
    ViewBag.Title = "Agregar Información del Parte Policial";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
                <br />
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Nuevo3", "Parte", FormMethod.Post))
    {
        <div class="form-row">
            <div class="form-group col-md-12" style="text-align:center;">
                <h4>Descripción de Hechos</h4>
                @Html.TextAreaFor(d => d.DescripcionHechos, new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();" })
                @Html.ValidationMessageFor(d => d.DescripcionHechos, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" style="text-align:center;">
                <h4>Diligencias Policiales</h4>
                @Html.TextAreaFor(d => d.DiligenciasPoliciales, new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();"})
                @Html.ValidationMessageFor(d => d.DiligenciasPoliciales, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" style="text-align:center;">
                <h4>Manisfestación del Ofendido</h4>
                @Html.TextAreaFor(d => d.ManisfestacionOfendido, new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();"})
                @Html.ValidationMessageFor(d => d.ManisfestacionOfendido, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" style="text-align:center;">
                <h4>Manisfestación de Testigo(s)</h4>
                @Html.TextAreaFor(d => d.ManisfestacionTestigo, new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();" })
                @Html.ValidationMessageFor(d => d.ManisfestacionTestigo, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <h3>Aspectos Administrativos</h3>
                <br />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Alertador)
                @Html.DropDownListFor(d => d.Alertador, Model.Alertadores, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.Alertador, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.EnteAcargo)
                @Html.DropDownListFor(d => d.EnteAcargo, Model.EntesACargos, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.EnteAcargo, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Movil)
                @Html.TextBoxFor(d => d.Movil, "", new { @class = "form-control",@onkeyup = "this.value = this.value.toUpperCase();" })
                @Html.ValidationMessageFor(d => d.Movil, null, new { @class = "red" })
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-11">
                <a class="btn btn-outline-secondary" href="~/Parte/Nuevo2">Regresar</a>                
            </div>
            <div class="form-group col-md-1">
               <input value="Siguiente" type="submit" class="btn btn-primary" id="btnSave2" />
            </div>
        </div>

    }

</div>
