@model FrontEnd.Models.ViewModels.Parte1ViewModel
@{
    ViewBag.Title = "Agregar Información del Parte Policial";
}

<div class="container bg-light text-dark border" style="height:220vh;">
    @using (Html.BeginForm("Nuevo", "Parte", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;">
                    <h2 class="display-4">@ViewBag.Title</h2>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div style="text-align:center">
                    <h3>Información del Ofendido(s)</h3>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.IdentificacionOfendido1)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionOfendido1, "", new { @class = "form-control", @id = "idOfendido1", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#personaModalBuscar">Buscar</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#personaModalQuitar">Quitar</a>
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionOfendido1, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.NombreOfendido1)
                @Html.TextBoxFor(d => d.NombreOfendido1, "", new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)" })
                @Html.ValidationMessageFor(d => d.NombreOfendido1, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div style="text-align:center">
                    <h3>Información de los Testigos</h3>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.TipoIdentificacionTestigo1)
                @Html.DropDownListFor(d => d.TipoIdentificacionTestigo1, Model.TiposDeIdentificacion, "--Seleccione--", new { @class = "myselect form-control" })
                @Html.ValidationMessageFor(d => d.TipoIdentificacionTestigo1, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.IdentificacionTestigo1)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.IdentificacionTestigo1, "", new { @class = "form-control", @id = "idTestigo1", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#personaModalBuscar">Buscar</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#personaModalQuitar">Quitar</a>
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.IdentificacionTestigo1, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-5">
                @Html.LabelFor(d => d.NombreTestigo1)
                @Html.TextBoxFor(d => d.NombreTestigo1, "", new { @class = "form-control", @id = "TNombre", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetras(event)" })
                @Html.ValidationMessageFor(d => d.NombreTestigo1, null, new { @class = "red" })
            </div>
        </div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.LabelFor(d => d.AprendidoInfractor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.AprendidoInfractor)
            </dd>
            <dt class="col-sm-4">
                @Html.LabelFor(d => d.IdentificacionInfractor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.IdentificacionInfractor)
            </dd>
            <dt class="col-sm-4">
                @Html.LabelFor(d => d.Barrio)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.Barrio)
            </dd>
        </dl>

        <div class="modal" id="personaModalQuitar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar una Persona de un Parte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar una persona de un parte?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a name="quitarPersona" class="btn btn-danger" onclick="reply_click7(this.id)" data-dismiss="modal">Quitar </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="text-align:center;" width="20%">
                    <a class="btn btn-outline-secondary" href="~/Parte/Nuevo1">Regresar</a>
                    <a class="btn btn-primary" href="~/Parte/Nuevo3">Siguiente</a>
                </div>
            </div>
        </div>


    }

    <div class="modal fade" id="personaModalBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarPersona" id="" />
                <div class="modal-body">
                    @{ Html.RenderAction("ListaPersonasBuscar", "Parte", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>



</div>

<script>

    function reply_click5(clicked_id5) {
        var aux = document.getElementsByName("agregarPersona")[0].getAttribute("id");
        if (aux === "idOfendido1") {
            var elem = document.getElementById("idOfendido1");
        }
        if (aux === "idTestigo1") {
            var elem = document.getElementById("idTestigo1");
        }
        elem.value = clicked_id5;
        $('#personaModalBuscar').modal('hide');
    }

    function reply_click6(clicked_id6) {
        var elem2 = document.getElementById("personaModalQuitar");
        elem2.value = clicked_id6;
        $('#showQu').modal('hide');
    }

    function reply_click7(clicked_id7) {
        document.getElementById(clicked_id7).value = '';
    }

</script>

