@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@{ Layout = null; } @model FrontEnd.Models.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body style="background-color: #8bceff; ">

    <div class="col mt-xl-5 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-header">
                <img src="~/SourcesSCAP/LoginLogo.png" align="top" class="center" />
            </div>

            @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
            {
                <div class="card-body">
                    <h5>Iniciar Sesión</h5>

                    @Html.LabelFor(model => model.UserName)
                    @Html.TextBoxFor(model => model.UserName, "", new { @class = "form-control" })
                    <label class="field-validation-error"></label>
                    @Html.ValidationMessageFor(model => model.UserName)


                    @Html.LabelFor(model => model.Password)
                    @Html.TextBoxFor(model => model.Password, "", new { @class = "form-control", @type = "password" })
                <text style="color:red;">
             
                    @Html.DisplayFor(model => model.LoginErrorMessage)
                </text>
            

                    <br />

                  
                        <button type="submit" class="btn btn-primary">Entrar</button>
                  






                </div>

            }


        </div>
        </div>

</body>


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/validations")
@Scripts.Render("~/bundles/busqueda")
@Scripts.Render("~/bundles/ValidarEstatura")
