@model FrontEnd.Models.ViewModels.ActaDecomisoViewModel

@{ ViewBag.Title = "Detalle de Acta de Decomiso"; }


<div class="container bg-light text-dark border" style="height: 80vh; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaOficialActuante)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaOficialActuante)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaOficialAcompanante)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaOficialAcompanante)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Supervisor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)
        </dd>

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CedulaDecomisado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaDecomisado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreDecomisado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreDecomisado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoEstadoCivil)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoEstadoCivil)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.TelefonoDecomisado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.TelefonoDecomisado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.DireccionDecomisado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.DireccionDecomisado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.LugarDelProcedimiento)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.LugarDelProcedimiento)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Inventario)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Inventario)
        </dd>
        @if (Model.Observaciones != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.Observaciones)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.Observaciones)
            </dd>
        }
    </dl>
    <hr />
  

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaDecomiso/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaDecomiso/Editar/@Model.IdActaDecomiso">Editar</a>

            </div>
        </div>

    </div>


</div>


