@model FrontEnd.Models.ViewModels.ActaEntregaPorOrdenDeViewModel

@{ ViewBag.Title = "Detalle de Acta de entrega por orden de"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreFuncionarioQueEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreFuncionarioQueEntrega)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.CedulaFuncionarioQueEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaFuncionarioQueEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CedulaPersonaQueSeLeEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaPersonaQueSeLeEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombrePersonaQueSeLeEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombrePersonaQueSeLeEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoTestigo)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoTestigo)
        </dd>
        @if (Model.VistaTestigo != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.VistaTestigo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaTestigo)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.VistaIdTestigo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaIdTestigo)
            </dd>
        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombrePorOrdenDe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombrePorOrdenDe)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.IdentificacionPorOrdenDe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.IdentificacionPorOrdenDe)
        </dd>

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroResolucion)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroResolucion)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoInventario)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoInventario)
        </dd>
        @if (Model.NumeroActaLigada != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.NumeroActaLigada)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.NumeroActaLigada)
            </dd>
        }

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        @if (Model.NumeroActaLigada != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.NumeroActaLigada)
            </dt>
            <dd class="col-sm-8 ">
                <a href="~/ActaDecomiso/Detalle/@Model.IdActaLigada" target="_blank">
                    @Html.DisplayTextFor(d => d.NumeroActaLigada)
                </a>
            </dd>
        }
        @if (Model.NumeroInventario != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.NumeroInventario)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.NumeroInventario)

            </dd>
        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaEstadoActa)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaEstadoActa)
        </dd>

    </dl>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaEntregaPorOrdenDe/Index/" class="btn btn-outline-secondary">Regresar</a>

            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/ActaEntregaPorOrdenDe/Editar/@Model.IdActaEntregaPorOrdenDe">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaEntregaPorOrdenDe">Ver Auditorias</a>
                </div>
            }
        </div>

    </div>

    @*<div class="modal" id="show3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modificar Estado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea modificar el estado del acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-primary" id="Save" href="~/ActaEntregaPorOrdenDe/CambioEstadoActa/@Model.EstadoActa">Modificar</a>
                    </div>
                </div>
            </div>
        </div>*@


</div>



