@model FrontEnd.Models.ViewModels.ActaEntregaPorOrdenDeViewModel

@{ ViewBag.Title = "Detalle de Acta de entrega por orden de"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NumeroFolio)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.NombreFuncionarioQueEntrega)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.NombreFuncionarioQueEntrega)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.CedulaFuncionarioQueEntrega)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.CedulaFuncionarioQueEntrega)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.CedulaPersonaQueSeLeEntrega)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.CedulaPersonaQueSeLeEntrega)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.NombrePersonaQueSeLeEntrega)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.NombrePersonaQueSeLeEntrega)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoTestigo)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoTestigo)</text>
                </div>
            </li>
            @if (Model.VistaTestigo != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTestigo)</text>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaIdTestigo)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaIdTestigo)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.NombrePorOrdenDe)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.NombrePorOrdenDe)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.IdentificacionPorOrdenDe)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.IdentificacionPorOrdenDe)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.NumeroResolucion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.NumeroResolucion)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoInventario)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoInventario)</text>
                </div>
            </li>
            @if (Model.NumeroActaLigada != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.NumeroActaLigada)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.NumeroActaLigada)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Fecha)</b>
                    <text class="col-sm-8">
                        @{ var fecha = Model.Fecha.ToShortDateString(); }
                        @Html.DisplayTextFor(d => fecha)
                    </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Hora)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Hora.TimeOfDay)</text>
                </div>
            </li>
            @if (Model.NumeroActaLigada != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.NumeroActaLigada)</b>
                        <a class="col-sm-8" href="~/ActaHallazgo/Detalle/@Model.IdActaLigada" target="_blank">
                            @Html.DisplayTextFor(d => d.NumeroActaLigada)
                        </a>
                    </div>
                </li>
            }

            @if (Model.NumeroInventario != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.NumeroInventario)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.NumeroInventario)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstadoActa)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstadoActa)</text>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaEntregaPorOrdenDe/Index/" class="btn btn-outline-secondary">Regresar</a>

            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/ActaEntregaPorOrdenDe/Editar/@Model.IdActaEntregaPorOrdenDe">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaEntregaPorOrdenDe">Ver Auditorias</a>
                </div>
            }
        </div>

    </div>


</div>



