@model FrontEnd.Models.ViewModels.ActaEntregaPorOrdenDeViewModel

@{ ViewBag.Title = "Detalle de Acta de entrega por orden de"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreFuncionarioQueEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreFuncionarioQueEntrega)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.CedulaFuncionarioQueEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaFuncionarioQueEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombrePersonaQueSeLeEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombrePersonaQueSeLeEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreTestigoDeLaEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreTestigoDeLaEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CedulaTestigoDeLaEntrega)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaTestigoDeLaEntrega)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.PorOrdenDe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.PorOrdenDe)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroResolucion)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroResolucion)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoInventario)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoInventario)
        </dd>
        @if (Model.NumeroActaLigada != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.NumeroActaLigada)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.NumeroActaLigada)
            </dd>
        }

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        @if (Model.NumeroActaLigada != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.DescripcionDeArticulos)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.DescripcionDeArticulos)
            </dd>
        }
        @if (Model.NumeroInventario != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.NumeroInventario)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.NumeroInventario)

            </dd>
        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaEstadoActa)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaEstadoActa)
        </dd>
        <dd class="col-sm-8">
            <a class="btn btn-sm btn-warning" data-toggle="modal" data-target="#show3">Cambiar Estado</a>
        </dd>
    </dl>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaEntregaPorOrdenDe/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaEntregaPorOrdenDe/Editar/@Model.IdActaEntregaPorOrdenDe">Editar</a>

            </div>
        </div>

    </div>

    <div class="modal" id="show3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modificar Estado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea modificar el estado del acta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" id="Save" href="~/ActaEntregaPorOrdenDe/CambioEstadoActa/@Model.EstadoActa">Modificar</a>
                </div>
            </div>
        </div>
    </div>


</div>



