@model FrontEnd.Models.ViewModels.ActaEntregaPorOrdenDeViewModel
@{ ViewBag.Title = "Agregar Acta de Entrega por orden de"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>

        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Nuevo", "ActaEntregaPorOrdenDe", FormMethod.Post))
    {
<div>
    <div class="form-row">

        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.TipoInventario)
            @Html.DropDownListFor(d => d.TipoInventario, Model.TiposDeInventario, "--Seleccione--", new { @class = "myselect form-control", @id = "InventarioSeleccion" })
            @Html.ValidationMessageFor(d => d.TipoInventario, null, new { @class = "red" })

        </div>

        <div class="form-group col-md-4" id="decomisoLayout">
            @Html.LabelFor(d => d.NumeroActaLigada)
            <div class="input-group">
                @Html.TextBoxFor(d => d.NumeroActaLigada, "", new { @class = "form-control", @id = "idActaLigada", @readonly = "readonly" })
                <div class="input-group-append">
                    <a class="btn btn-primary" data-book-id="idActaLigada" data-toggle="modal" data-target="#modalBusquedaActaDecomiso">Buscar</a>
                </div>

            </div>
            @Html.ValidationMessageFor(d => d.NumeroActaLigada, null, new { @class = "red" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.NombreFuncionarioQueEntrega)
            <div class="input-group">
                @Html.TextBoxFor(d => d.CedulaFuncionarioQueEntrega, "", new { @class = "form-control", @id = "idEncargadoEntrega", @readonly = "readonly" })
                <div class="input-group-append ">
                    <a class="btn btn-primary" data-book-id="idEncargadoEntrega" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                </div>
            </div>
            @Html.ValidationMessageFor(d => d.CedulaFuncionarioQueEntrega, null, new { @class = "red" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.NombreTestigoDeLaEntrega)
            <div class="input-group">
                @Html.TextBoxFor(d => d.CedulaTestigoDeLaEntrega, "", new { @class = "form-control", @id = "idTestigoEntrega", @readonly = "readonly" })
                <div class="input-group-append ">
                    <a class="btn btn-primary" data-book-id="idTestigoEntrega" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                </div>
            </div>
            @Html.ValidationMessageFor(d => d.CedulaTestigoDeLaEntrega, null, new { @class = "red" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(d => d.PorOrdenDe)
            @Html.TextBoxFor(d => d.PorOrdenDe, "", new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "sololetrasnumerossimbolos(event)", autocomplete = "new-password" })
            @Html.ValidationMessageFor(d => d.PorOrdenDe, null, new { @class = "red" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(d => d.Fecha)
            @Html.EditorFor(d => d.Fecha, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "red" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(d => d.Hora)
            @Html.EditorFor(d => d.Hora, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Hora, null, new { @class = "red" })
        </div>

    </div>
</div>
        <div class="form-row">

            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.NombrePersonaQueSeLeEntrega)
                @Html.TextBoxFor(d => d.NombrePersonaQueSeLeEntrega, "", new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimboloss(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.NombrePersonaQueSeLeEntrega, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.CedulaPersonaQueSeLeEntrega)
                @Html.TextBoxFor(d => d.CedulaPersonaQueSeLeEntrega, "", new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimboloss(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.CedulaPersonaQueSeLeEntrega, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.NumeroResolucion)
                @Html.TextBoxFor(d => d.NumeroResolucion, "", new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimboloss(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.NumeroResolucion, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-12" id="NumInventario" style="display:none">
                @Html.LabelFor(d => d.NumeroInventario)
                @Html.TextAreaFor(d => d.NumeroInventario, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.NumeroInventario, null, new { @class = "red" })
            </div>

            <div class="form-group col-md-12" id="referenciaArticulos">
                @Html.LabelFor(d => d.DescripcionDeArticulos)
                @Html.TextAreaFor(d => d.DescripcionDeArticulos, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)", autocomplete = "new-password", @readonly = "readonly", @id="descripcionArticulos" })
                @Html.ValidationMessageFor(d => d.DescripcionDeArticulos, null, new { @class = "red" })
            </div>

        </div>

        <hr />
        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">

                    <a class="btn btn-secondary" href="~/ActaEntregaPorOrdenDe/Index">Cancelar</a>
                    <script>
                        $('#btnSave').click(function () {
                            $('#show').modal('hide');
                        });

                    </script>
                    <input value="Guardar" class="btn btn-primary" type="button" id="hGuardar" data-toggle="modal" data-target="#show" />
                </div>

            </div>
        </div>

        <div class="modal" id="show">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar un Acta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar una nueva acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="quitaPolicia">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un policía de un Acta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un policía de un acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a name="quitarPolicia" class="btn btn-danger" onclick="reply_click3(this.id)" data-dismiss="modal">Quitar </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="quitaActa">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un acta de un Acta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un acta de un acta?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a name="quitarActa" class="btn btn-danger" onclick="reply_click6(this.id)" data-dismiss="modal">Quitar </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="modalBusqueda" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Policía</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarPolicia" id="" />

                <div class="modal-body">
                    @{ Html.RenderAction("ListaPoliciasBuscar", "ActaEntregaPorOrdenDe", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBusquedaActaDecomiso" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Acta Decomiso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarActaDesomiso" id="" />

                <div class="modal-body">
                    @{ Html.RenderAction("ListaActasDecomisoBuscar", "ActaEntregaPorOrdenDe", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    function reply_click(clicked_id) {
        var aux = document.getElementsByName("agregarPolicia")[0].getAttribute("id");
        if (aux === "idTestigoEntrega") {
            var elem = document.getElementById("idTestigoEntrega");
            elem.value = clicked_id;
        }
        if (aux === "idEncargadoEntrega") {
            var elem = document.getElementById("idEncargadoEntrega");
            elem.value = clicked_id;
        }
        
        $('#modalBusqueda').modal('hide');
    }

    function reply_click4(clicked_id4, clicked_name4) {
        var aux = document.getElementsByName("agregarActaDesomiso")[0].getAttribute("id");
        if (aux === "idActaLigada") {
            var elem = document.getElementById("idActaLigada");
            var elem2 = document.getElementById("descripcionArticulos");
        }

        elem.value = clicked_id4;
        elem2.value = clicked_name4;
        $('#modalBusquedaActaDecomiso').modal('hide');
    }

    function reply_click2(clicked_id2) {
        var elem2 = document.getElementByName("quitaPolicia");
        elem2.value = clicked_id2;
        $('#showQu').modal('hide');
    }

    function reply_click3(clicked_id3) {
        document.getElementById(clicked_id3).value = '';
    }
</script>