@model FrontEnd.Models.ViewModels.PersonaViewModel

@{ ViewBag.Title = "Información de Persona"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>

    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NombrePersona)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoIdentificacionPersona)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoIdentificacionPersona)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Identificacion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Identificacion)</text>
                </div>
            </li>
            @if (Model.FechaNacimientoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.FechaNacimientoPersona)</b>
                        <text class="col-sm-8">
                            @{ var fecha = Model.FechaNacimientoPersona.ToShortDateString(); }
                            @Html.DisplayTextFor(d => fecha)
                        </text>
                    </div>
                </li>
            }
            @if (Model.VistaSexoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaSexoPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaSexoPersona)</text>
                    </div>
                </li>
            }
            @if (Model.VistaNacionalidadPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaNacionalidadPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaNacionalidadPersona)</text>
                    </div>
                </li>
            }
            @if (Model.ProfesionPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.ProfesionPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.ProfesionPersona)</text>
                    </div>
                </li>
            }
            @if (Model.LugarTrabajoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.LugarTrabajoPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.LugarTrabajoPersona)</text>
                    </div>
                </li>
            }
            @if (Model.TelefonoTrabajoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoTrabajoPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoTrabajoPersona)</text>
                    </div>
                </li>
            }
            @if (Model.TelefonoCasaPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoCasaPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoCasaPersona)</text>
                    </div>
                </li>
            }
            @if (Model.TelefonoCelularPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoCelularPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoCelularPersona)</text>
                    </div>
                </li>
            }
            @if (Model.CorreoElectronicoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.CorreoElectronicoPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.CorreoElectronicoPersona)</text>
                    </div>
                </li>
            }
            @if (Model.DireccionExacta != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.DireccionExacta)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.DireccionExacta)</text>
                    </div>
                </li>
            }
            @if (Model.Instalaciones != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.Instalaciones)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.Instalaciones)</text>
                    </div>
                </li>
            }
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-outline-secondary" href="~/Persona/Index">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/Persona/Editar/@Model.IdPersona">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdPersona" target="_blank">Ver Auditorías</a>
                </div>}

        </div>
    </div>

</div>
