@model FrontEnd.Models.ViewModels.PersonaViewModel

@{ ViewBag.Title = "Información de Persona"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <h2> @Html.DisplayTextFor(d => d.NombrePersona)</h2>
        </div>
    </div>

    <dl class="row">
        @Html.HiddenFor(d => d.IdPersona)
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoIdentificacionPersona)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoIdentificacionPersona)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Identificacion)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Identificacion)
        </dd>
        @if (Model.FechaNacimientoPersona != null) {
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.FechaNacimientoPersona)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.FechaNacimientoPersona.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>} 
        @if(Model.VistaSexoPersona != null) { 
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaSexoPersona)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaSexoPersona)
        </dd>}
        @if(Model.VistaNacionalidadPersona != null) { 
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaNacionalidadPersona)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaNacionalidadPersona)
        </dd>}
        @if (Model.ProfesionPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Profesión")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.ProfesionPersona)
            </dd>
        }
        @if (Model.LugarTrabajoPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Lugar de Trabajo")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.LugarTrabajoPersona)
            </dd>
        }
        @if (Model.TelefonoTrabajoPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Teléfono de Trabajo")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.TelefonoTrabajoPersona)
            </dd>

        }
        @if (Model.TelefonoCasaPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Telefono de Casa")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.TelefonoCasaPersona)
            </dd>
        }
        @if (Model.TelefonoCelularPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Telefono de Celular")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.TelefonoCelularPersona)
            </dd>
        }
        @if (Model.CorreoElectronicoPersona != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Correo Electrónico")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.CorreoElectronicoPersona)
            </dd>
        }
        @if (Model.DireccionExacta != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Direccion Exacta")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.DireccionExacta)
            </dd>
        }
        @if (Model.Instalaciones != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Instalaciones")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.Instalaciones)
            </dd>
        }

    </dl>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-outline-secondary" href="~/Persona/Index">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/Persona/Editar/@Model.IdPersona">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoPersona/@Model.IdPersona">Ver Auditorias</a>
                </div>}

            </div>
    </div>

</div>
