@model FrontEnd.Models.ViewModels.UsuarioViewModel

@{ ViewBag.Title = "Detalle de Usuario"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.UserName)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.UserName)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Nombre)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Nombre)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Cedula)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Cedula)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VsitaRol)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VsitaRol)
        </dd>
    </dl>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/Usuario/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/Usuario/Editar/@Model.IdUsuario">Editar</a>
                <a class="btn btn-secondary" href="~/Auditoria/Usuario/@Model.IdUsuario">Ver Auditorias</a>
            </div>
        </div>

    </div>


</div>

