@model FrontEnd.Models.ViewModels.UsuarioViewModel

@{ ViewBag.Title = "Detalle de Usuario"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.Nombre)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4">@Html.LabelFor(d => d.UserName)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.UserName)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4">@Html.LabelFor(d => d.Cedula)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Cedula)</text>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VsitaRol)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VsitaRol)</text>
                </div>
            </li>

        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/Usuario/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/Usuario/Editar/@Model.IdUsuario">Editar</a>
                <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdUsuario" target="_blank">Ver Auditorías</a>
            </div>
        </div>

    </div>


</div>

