@model FrontEnd.Models.ViewModels.UsuarioViewModel
@{ ViewBag.Title = "Editar Información de Usuario"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Editar", "Usuario", FormMethod.Post))
    {
        @Html.HiddenFor(d => d.IdUsuario)
        <div class="row mb-4">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.Cedula)
                @Html.TextBoxFor(d => d.Cedula, "", new { @class = "form-control", @maxlength = "25", @style = "text-transform:uppercase", @onkeydown = "return /[0-9a-zA-Z]/i.test(event.key)", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control", @maxlength = "150", @style = "text-transform:uppercase", @onkeydown = "return /[a-z,A-Z ,Á,á,é,É,í,Í,ó,Ó,ú,Ú]/i.test(event.key)", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.UserName)
                @Html.TextBoxFor(d => d.UserName, "", new { @class = "form-control", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.UserName, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(d => d.Rol)
                @Html.DropDownListFor(d => d.Rol, Model.TiposDeRol, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.Rol, null, new { @class = "red" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <a class="btn btn-secondary" href="~/Usuario/Detalle/@Model.IdUsuario">Cancelar</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show">Guardar</a>
                </div>

            </div>
        </div>
        <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showLabel">Agregar un Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar los cambios?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

