@model FrontEnd.Models.ViewModels.BitacoraViewModel
@{
    ViewBag.Title = "Completar Información de Bitácora";
}

<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />

    @using (Html.BeginForm("Completar", "Bitacora", FormMethod.Post))
    {
        @Html.HiddenFor(d => d.IdBitacora)
        @Html.HiddenFor(d => d.IdArma)
        @Html.HiddenFor(d => d.NumeroConsecutivo)
        @Html.HiddenFor(d => d.ArmeroProveedor)
        @Html.HiddenFor(d => d.CondicionInicial)
        @Html.HiddenFor(d => d.PoliciaSolicitante)
        @Html.HiddenFor(d => d.NumeroSerieArma)
        @Html.HiddenFor(d => d.FechaCreacion)
        @Html.HiddenFor(d => d.MunicionEntregada)
        @Html.HiddenFor(d => d.CargadoresEntregados)
        @Html.HiddenFor(d => d.ObservacionesEntrega)
        @Html.HiddenFor(d => d.VistaEstadoActual)
        @Html.HiddenFor(d => d.VistaCondicionInicial)
        <div class="row mb-4">
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.CondicionFinal)
                @Html.DropDownListFor(d => d.CondicionFinal, Model.TiposCondicion, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.CondicionFinal, null, new { @class = "red" })
            </div>
            @if (Session["Rol"].ToString() == "4")
            {
                <div class="form-group col-md-3">
                    @Html.LabelFor(d => d.ArmeroReceptor)
                    @Html.TextBoxFor(d => d.ArmeroReceptor, "", new { @class = "form-control", @id = "idArmeroReceptor", @readonly = "readonly", @Value = @Session["cedula"].ToString() })
                    @Html.ValidationMessageFor(d => d.ArmeroReceptor, null, new { @class = "red" })
                </div>
            }
            @if (Session["Rol"].ToString() == "5")
            {
                <div class="form-group col-md-3">
                    @Html.LabelFor(d => d.ArmeroReceptor)
                    @Html.TextBoxFor(d => d.ArmeroReceptor, "", new { @class = "form-control", @id = "idArmeroReceptor" })
                    @Html.ValidationMessageFor(d => d.ArmeroReceptor, null, new { @class = "red" })
                </div>
            }

            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.MunicionDevuelta)
                @Html.TextBoxFor(d => d.MunicionDevuelta, "", new { @class = "form-control", @min = "0", @Value = Model.MunicionEntregada, @type = "number" })
                @Html.ValidationMessageFor(d => d.MunicionDevuelta, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(d => d.CargadoresDevueltos)
                @Html.TextBoxFor(d => d.CargadoresDevueltos, "", new { @class = "form-control", @min = "0", @Value = Model.CargadoresEntregados, @type = "number" })
                @Html.ValidationMessageFor(d => d.CargadoresDevueltos, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-12">
                @Html.LabelFor(d => d.ObservacionesDevuelta)
                @Html.TextAreaFor(d => d.ObservacionesDevuelta, new { @class = "form-control", @maxlenth = "250", @style = "text-transform:uppercase" })
                @Html.ValidationMessageFor(d => d.ObservacionesDevuelta, null, new { @class = "red" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <a class="btn btn-secondary" href="~/Bitacora/Index">Cancelar</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show">Guardar</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showLabel">Completar una Bitácora</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea completar esta bitácora?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
