@model FrontEnd.Models.ViewModels.BitacoraViewModel

@{ ViewBag.Title = "Detalle de la Bitácora"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>
    <h2>Bitácora @Html.DisplayTextFor(d => d.VistaEstadoActual) </h2>
    <hr />
    <h2>Entrega</h2>
    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroSerieArma)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroSerieArma)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaArmeroProveedor)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaArmeroProveedor)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaPoliciaSolicitante)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSolicitante)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.FechaCreacion)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.FechaCreacion)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.MunicionEntregada)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.MunicionEntregada)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CargadoresEntregados)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CargadoresEntregados)
        </dd>
        @if (Model.ObservacionesEntrega != null)
        {
            <dt class="col-sm-4 ">
                @Html.Label("Observaciones de Entrega")
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.ObservacionesEntrega)
            </dd>
        }
    </dl>
    @if (Model.VistaEstadoActual == "Completada")
    {
        <hr />
        <h2>Devuelta</h2>
        <dl class="row">

            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ArmeroReceptor)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaArmeroReceptor)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.CondicionFinal)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.VistaCondicionFinal)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.FechaFinalizacion)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.FechaFinalizacion)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.MunicionDevuelta)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.MunicionDevuelta)
            </dd>
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.CargadoresDevueltos)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.CargadoresDevueltos)
            </dd>
            @if (Model.ObservacionesDevuelta != null) { 
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ObservacionesDevuelta)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.ObservacionesDevuelta)
            </dd>
            }

        </dl>
    }
    <hr />
    
    <div class="row">
        <div class="col-sm-12">

            <a class="btn btn-outline-secondary" href="~/Bitacora/Index" ;">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/Bitacora/Editar/@Model.IdBitacora">Editar</a>
                @if (Model.VistaEstadoActual == "Pendiente")
                {
                    <a class="btn btn-info" href="~/Bitacora/Completar/@Model.IdBitacora" type="button">Completar</a>
                }
            </div>
        </div>
    </div>

</div>