@model FrontEnd.Models.ViewModels.BitacoraViewModel
@{
    ViewBag.Title = "Editar Información de Bitácora";
}

<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    <h2>Entrega</h2>
    @using (Html.BeginForm("Editar", "Bitacora", FormMethod.Post))
    {
        @Html.HiddenFor(d => d.IdBitacora)
        @Html.HiddenFor(d => d.NumeroConsecutivo)
        @Html.HiddenFor(d => d.FechaCreacion)
        @Html.HiddenFor(d => d.VistaEstadoActual)
        @Html.HiddenFor(d => d.FechaFinalizacion)
        @Html.HiddenFor(d => d.IdArma)
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.NumeroSerieArma)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.NumeroSerieArma, "", new
               {
                   @class = "form-control",
                   @id = "idArma",
                   @readonly = "readonly"
               })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#modalBusquedaArma">Buscar</a>
                        
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.NumeroSerieArma, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.ArmeroProveedor)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.ArmeroProveedor, "", new
                    {
                        @class = "form-control",
                        @id = "idArmeroProveedor",
                        @readonly = "readonly"
                    })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-book-id="idArmeroProveedor" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                       
                    </div>
                </div>
                @Html.ValidationMessageFor(d => d.ArmeroProveedor, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.PoliciaSolicitante)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.PoliciaSolicitante, "", new { @class = "form-control", @id = "idPoliciaSolicitante", @readonly = "readonly" })
                    <div class="input-group-append ">
                        <a class="btn btn-primary" data-book-id="idPoliciaSolicitante" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.MunicionEntregada)
                @Html.TextBoxFor(d => d.MunicionEntregada, "", new { @class = "form-control", @type = "number", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                @Html.ValidationMessageFor(d => d.MunicionEntregada, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.CargadoresEntregados)
                @Html.TextBoxFor(d => d.CargadoresEntregados, "", new { @class = "form-control", @type = "number", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                @Html.ValidationMessageFor(d => d.CargadoresEntregados, null, new { @class = "red" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.LabelFor(d => d.ObservacionesEntrega)
                @Html.TextAreaFor(d => d.ObservacionesEntrega, new { @class = "form-control", onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.ObservacionesEntrega, null, new { @class = "red" })
            </div>
        </div>
        <hr />

        if (Model.VistaEstadoActual == "Completada")
        {
            <h2>Devuelta</h2>
            <div class="form-row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(d => d.CondicionFinal)
                    @Html.DropDownListFor(d => d.CondicionFinal, Model.TiposCondicion, "--Seleccione--", new { @class = "myselect form-control" })
                    @Html.ValidationMessageFor(d => d.CondicionFinal, null, new { @class = "red" })

                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(d => d.ArmeroReceptor)
                    <div class="input-group">
                        @Html.TextBoxFor(d => d.ArmeroReceptor, "", new { @class = "form-control", @id = "idArmeroReceptor", @readonly = "readonly" })
                        <div class="input-group-append ">
                            <a class="btn btn-primary" data-book-id="idArmeroReceptor" data-toggle="modal" data-target="#modalBusqueda">Buscar</a>
                         
                        </div>
                    </div>
                    @Html.ValidationMessageFor(d => d.ArmeroReceptor, null, new { @class = "red" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(d => d.MunicionDevuelta)
                    @Html.TextBoxFor(d => d.MunicionEntregada, "", new { @class = "form-control", @min = "0", @onkeyup = "this.value = this.value.toUpperCase();", @type = "number", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                    @Html.ValidationMessageFor(d => d.MunicionDevuelta, null, new { @class = "red" })
                </div>
                <div class="form-group col-md-4">
                    @Html.LabelFor(d => d.CargadoresDevueltos)
                    @Html.TextBoxFor(d => d.CargadoresEntregados, "", new { @class = "form-control", @min = "0", @onkeyup = "this.value = this.value.toUpperCase();", @type = "number", onkeydown = "javascript: return event.keyCode == 69 ? false : true" })
                    @Html.ValidationMessageFor(d => d.CargadoresDevueltos, null, new { @class = "red" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(d => d.ObservacionesDevuelta)
                    @Html.TextAreaFor(d => d.ObservacionesDevuelta, new { @class = "form-control", @onkeyup = "this.value = this.value.toUpperCase();", @onkeypress = "return sololetrasnumerossimbolos(event)" })
                    @Html.ValidationMessageFor(d => d.ObservacionesDevuelta, null, new { @class = "red" })
                </div>
            </div>
            <hr />
        }
        <div class="form-row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <a class="btn btn-secondary" href="~/Bitacora/Index">Cancelar</a>
                    <input value="Guardar" class="btn btn-primary" type="button" id="hGuardar" data-toggle="modal" data-target="#show" />
                </div>
            </div>
        </div>
        <div class="modal" id="show" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar una bitácora</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea editar una bitácora?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="QuitarArma" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un Arma de la Bitácora</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un arma de la bitácora?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" onclick="document.getElementById('idArma').value = ''" id="QuitarArma" data-dismiss="modal">Quitar </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="quitaPolicia">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quitar un  de un Arma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea quitar un policía de un arma?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                        <a name="quitarPolicia" class="btn btn-danger" onclick="reply_click4(this.id)" data-dismiss="modal">Quitar </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade" id="modalBusqueda" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar Policía</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p hidden name="agregarPolicia" id="" />
                <div class="modal-body">
                    @{ Html.RenderAction("ListaPoliciasBuscar", "Bitacora", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalBusquedaArma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Armas Disponibles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("ListaArmasBuscar", "Bitacora", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    function reply_clickB(clicked_id) {
        var aux = document.getElementsByName("agregarPolicia")[0].getAttribute("id");
        if (aux === "idArmeroProveedor") {
            var elem = document.getElementById("idArmeroProveedor");
        }
        if (aux === "idPoliciaSolicitante") {
            var elem = document.getElementById("idPoliciaSolicitante");
        }
        if (aux === "idArmeroReceptor") {
            var elem = document.getElementById("idArmeroReceptor");
        }
        elem.value = clicked_id;
        $('#modalBusqueda').modal('hide');
    }

    function reply_click2(clicked_id2) {
        var elem2 = document.getElementByName("quitaPolicia");
        elem2.value = clicked_id2;
        $('#showQu').modal('hide');
    }

    function reply_click4(clicked_id3) {
        document.getElementById(clicked_id3).value = '';
    }

    function reply_clickArma(clicked_id) {
        var elem = document.getElementById("idArma");
        elem.value = clicked_id;
        $('#modalBusquedaArma').modal('hide');
    }
    function reply_click2(clicked_id2) {
        var elem2 = document.getElementById("QuitarArma");
        elem2.value = clicked_id2;
        $('#QuitarArma').modal('hide');
    }

</script>
