@model List<FrontEnd.Models.ViewModels.BitacoraViewModel>
@{ ViewBag.Title = "Bitácora";
    List<SelectListItem> items1 = (List<SelectListItem>)ViewBag.items1;
    List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items2;
}

<div class="container bg-light text-dark border" style="height:80vh;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Bitacora", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items1, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarBitacora()" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Nombre Policía";
                </script>
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" maxlength="150" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" />
                @Html.DropDownList("estadosBitacora", items2, new { @class = "form-select", @id = "estadoBitacora", @name = "estadoBitacora", @style = "display:none" })
                <input class="form-control" name="busquedaFechaInicioB" type="date" id="busquedaFechaInicioB" style="display:none" />
                <label id="textFechaInicio" style="display:none">Fecha de inicio</label>
            </div>
            <div class="col-sm-3">
                <input class="form-control" name="busquedaFechaFinalB" type="date" id="busquedaFechaFinalB" style="display:none" />
                <label id="textFechaFinal" style="display:none">Fecha final</label>
                <span id="errorFecha"></span>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-success" href="~/Bitacora/Nuevo">Agregar</a>
            </div>
        </div>}
    <hr />

    <table class="table table-bordered table-sm" id="idtablaBitacora">
        <thead class="table-dark">
            <tr>
                <th scope="col">Número Consecutivo</th>
                <th scope="col">Policía Solicitante</th>
                <th scope="col">Serie Arma</th>
                <th scope="col">Estado de la Bitacora</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <th scope="row">@oElemento.NumeroConsecutivo</th>
                    <td>@oElemento.VistaPoliciaSolicitante</td>
                    <td>@oElemento.NumeroSerieArma</td>
                    <td>@oElemento.VistaEstadoActual</td>
                    <td>@oElemento.FechaCreacion</td>
                    <td>
                        <div style="text-align:center;">
                            <a class="btn btn-sm btn-outline-secondary" href="~/Bitacora/Detalle/@oElemento.IdBitacora">Ver Detalles</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#idtablaBitacora').DataTable({
            searching: false,
            lengthMenu: [[6], [6]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });
    function ocultarBitacora() {
        var auxiB = document.getElementById("busquedaFechaInicioB");
        var auxiA = document.getElementById("busquedaFechaFinalB");
        var auxiBT = document.getElementById("textFechaInicio");
        var auxiAT = document.getElementById("textFechaFinal");
        var aux8 = document.getElementById("estadoBitacora");
        var aux9 = document.getElementById("filtroSeleccionado");
        var aux10 = document.getElementById('busqueda');
        if (aux9.options[aux9.selectedIndex].value === "Estado de Bitácora") {
            auxiB.style.display = "none";
            auxiA.style.display = "none";
            auxiA.removeAttribute('required');
            auxiB.removeAttribute('required');
            auxiBT.style.display = "none";
            auxiAT.style.display = "none";
            aux8.style.display = "block";
            aux10.style.display = "none"
        }
        else if (aux9.options[aux9.selectedIndex].value === "Fecha de Creación") {
            aux8.style.display = "none";
            aux10.style.display = "none";
            auxiB.setAttribute('required', '');
            auxiA.setAttribute('required', '');
            auxiB.style.display = "block";
            auxiA.style.display = "block"
            auxiBT.style.display = "block";
            auxiAT.style.display = "block"
        } else {
            auxiB.style.display = "none";
            auxiA.style.display = "none";
            auxiA.removeAttribute('required');
            auxiB.removeAttribute('required');
            aux8.style.display = "none";
            auxiBT.style.display = "none";
            auxiAT.style.display = "none";
            aux10.style.display = "block"
        }
    }


</script>