@model FrontEnd.Models.ViewModels.BitacoraViewModel
@{
    ViewBag.Title = "Agregar Información de Bitácora";
}

<div class="container bg-light text-dark border" style="height:80vh;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />

    @using (Html.BeginForm("Nuevo", "Bitacora", FormMethod.Post))
    {
        <div class="row mb-4">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.NumeroSerieArma)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.NumeroSerieArma, "", new { @class = "form-control", @id = "idArma", @readonly = "readonly" })
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBusquedaArma">Buscar</a>
                </div>
                @Html.ValidationMessageFor(d => d.NumeroSerieArma, null, new { @class = "red" })
            </div>
            @if (Session["Rol"].ToString() == "4")
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(d => d.ArmeroProveedor)
                    @Html.TextBoxFor(d => d.ArmeroProveedor, "", new { @class = "form-control", @id = "idArmeroProveedor", @readonly = "readonly", @Value = @Session["cedula"].ToString() })
                    @Html.ValidationMessageFor(d => d.ArmeroProveedor, null, new { @class = "red" })
                </div>
            }
            @if (Session["Rol"].ToString() == "5")
            {
                <div class="form-group col-md-4">
                    @Html.LabelFor(d => d.ArmeroProveedor)
                    @Html.TextBoxFor(d => d.ArmeroProveedor, "", new { @class = "form-control", @id = "idArmeroProveedor", @Value = @Session["cedula"].ToString() })
                    @Html.ValidationMessageFor(d => d.ArmeroProveedor, null, new { @class = "red" })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.PoliciaSolicitante)
                <div class="input-group">
                    @Html.TextBoxFor(d => d.PoliciaSolicitante, "", new { @class = "form-control", @id = "idPoliciaSolicitante", @readonly = "readonly" })
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBusquedaPolicia">Buscar</a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.VistaCondicionInicial)
                @Html.TextBoxFor(d => d.VistaCondicionInicial, "", new { @class = "form-control", @id = "condicionInicialArma", @readonly = "readonly" })
                @Html.ValidationMessageFor(d => d.VistaCondicionInicial, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.MunicionEntregada)
                @Html.TextBoxFor(d => d.MunicionEntregada, "", new { @class = "form-control", @min = "0", @type = "number" })
                @Html.ValidationMessageFor(d => d.MunicionEntregada, null, new { @class = "red" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(d => d.CargadoresEntregados)
                @Html.TextBoxFor(d => d.CargadoresEntregados, "", new { @class = "form-control", @min = "0", @type = "number" })
                @Html.ValidationMessageFor(d => d.CargadoresEntregados, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-md-12">
                @Html.LabelFor(d => d.ObservacionesEntrega)
                @Html.TextAreaFor(d => d.ObservacionesEntrega, new { @class = "form-control", @maxlenth = "250", @style = "text-transform:uppercase", autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.ObservacionesEntrega, null, new { @class = "red" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-12">
                <div style="text-align:center;">
                    <a class="btn btn-secondary" href="~/Bitacora/Index">Cancelar</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show">Guardar</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showLabel">Agregar una Bitácora</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar una nueva bitácora?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="modal fade" id="modalBusquedaPolicia" tabindex="-1" role="dialog" aria-labelledby="modalBusquedaPoliciaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalBusquedaPoliciaLabel">Buscar Policía</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <p hidden name="agregarPolicia" id="" />
                <div class="modal-body">
                    @{ Html.RenderAction("ListaPoliciasBuscar", "Bitacora", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalBusquedaArma" tabindex="-1" role="dialog" aria-labelledby="modalBusquedaArmaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalBusquedaArmaLabel">Armas Disponibles</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("ListaArmasBuscar", "Bitacora", new { nombre = "" }); }
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    function reply_clickB(clicked_id) {
        var elem = document.getElementById("idPoliciaSolicitante");
        elem.value = clicked_id;
        $('#modalBusqueda').modal('hide');
    }


    function reply_clickArma(clicked_id, condicionInicial) {
        var elem = document.getElementById("idArma");
        elem.value = clicked_id;
        var elem2 = document.getElementById("condicionInicialArma");
        elem2.value = condicionInicial;
        $('#modalBusquedaArma').modal('hide');
    }

</script>
