@model FrontEnd.Models.ViewModels.ActaDeObservacionPolicialViewModel

@{ ViewBag.Title = "Detalle de Acta de Observación Policial"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaOficialActuante)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaOficialActuante)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaOficialAcompanante)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaOficialAcompanante)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaPersonaInteresada)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPersonaInteresada)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoDistrito)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoDistrito)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CondicionInteresado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CondicionInteresado)
        </dd>
       
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Direccion)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Direccion)
        </dd>
        @if (Model.Observaciones != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.Observaciones)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.Observaciones)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaTipoEstado)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaTipoEstado)
        </dd>   


    </dl>
    <hr />


    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaDeObservacionPolicial/Index/" class="btn btn-outline-secondary">Regresar</a>

            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
             {
                <div style="text-align:center;">
                    <a class="btn btn-primary" href="~/ActaDeObservacionPolicial/Editar/@Model.IdActaDeObservacionPolicial">Editar</a>
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaDeObservacionPolicial">Ver Auditorias</a>
                </div>
             }
            </div>

    </div>


</div>
