@model FrontEnd.Models.ViewModels.ListRequisitoViewModel

@{
    ViewBag.Title = "Requisito";
}

<div class="row mb-3">
    <h2 class="display-4">
        @Html.LabelFor(d => d.NombrePolicia)
        @Html.DisplayTextFor(d => d.NombrePolicia)
    </h2>
</div>

@using (Html.BeginForm("Mostrar", "Requisito", FormMethod.Post))
{

<dl class=" row">

    <dt class="col-sm-4">
        @Html.LabelFor(d => d.TipoRequisito)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayTextFor(d => d.TipoRequisito)
    </dd>
    <dt class="col-sm-4">
        @Html.LabelFor(d => d.Detalles)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayTextFor(d => d.Detalles)
    </dd>
    @if (Model.FechaVencimiento != null)
    {
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.FechaVencimiento)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.FechaVencimiento)
        </dd>
    }
    @if (Model.Imagen != null)
    {
        <dt class="col-sm-4">
            @Html.Label("Archivo: ")
        </dt>
        <dd class="col-sm-8">
            <u style="color:blue">
                <text style="color:blue">@Url.Content(Model.Detalles)</text><text style="color:blue">.pdf</text>
            </u>
        </dd>
    }
</dl>

    <div class="modal" id="show4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Requisito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el requisito?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" id="Cancel" data-dismiss="modal">Cancelar</button>
                    <a href="~/Requisito/Eliminar/@Model.IdRequisito" type="submit" class="btn btn-danger"  id="Save">Eliminar</a>
                </div>
            </div>
        </div>
    </div>



    <div style="text-align:center;">
        <a class="btn btn-primary" href="~/Requisito/Editar/@Model.IdRequisito">Editar</a>
        @if (Model.Imagen != null)
        {<a class="btn btn-info" href="@Url.Content(Model.Imagen)" download="@Url.Content(Model.Detalles)">Descargar Archivo Adjunto</a>
        } <a value="Eliminar" class="btn btn-danger" href="~/Requisito/Eliminar/@Model.IdRequisito" type="button" data-toggle="modal" data-target="#show4">Eliminar</a>


        </div>


}