@model FrontEnd.Models.ViewModels.RequisitoViewModel

@{
    ViewBag.Title = "Información del Requisito";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />

    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NombrePolicia)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4">@Html.LabelFor(d => d.VistaTipoRequisito)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoRequisito)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4">@Html.LabelFor(d => d.Detalles)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Detalles)</text>
                </div>
            </li>
            @if (Model.FechaVencimiento != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaFechaVencimiento)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaFechaVencimiento)</text>
                    </div>
                </li>
            }
            @if (Model.RutaArchivo != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4">  @Html.Label("Archivo: ")</b>
                        <text class="col-sm-8">@Model.NombrePolicia - @Model.Detalles .pdf</text>
                    </div>
                </li>
            }</ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-outline-secondary" onclick="history.go(-1);">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
                <div style="text-align:center;">

                    @if (Model.RutaArchivo != null)
                    {
                    <a class="btn btn-info" href="@Url.Content(Model.RutaArchivo)" download="@Model.NombrePolicia - @Model.Detalles .pdf">Descargar Archivo Adjunto</a>
                    }
                    <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdRequisito">Ver Auditorias</a>
                </div>}
        </div>
    </div>


</div>
