@model List<FrontEnd.Models.ViewModels.RequisitoViewModel>
@{
    ViewBag.Title = "Requisitos";
    List<SelectListItem> items1 = (List<SelectListItem>)ViewBag.items1;
    List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items2;
}
<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Requisito", FormMethod.Get))
    {
        <div class="form-row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items1, new { @class = "form-control", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarRequisito()" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Detalle de Requisito";
                </script>
              
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return sololetrasnumerossimbolos(event)" />
                @Html.DropDownList("tiposRequisito", items2, new { @class = "form-control", @id = "tipoRequisito", @name = "tipoRequisito", @style = "display:none" })
                
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Policía</th>
                        <th scope="col">Detalle</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.VistaTipoRequisito</th>
                            <td>@oElemento.NombrePolicia</td>
                            <td>@oElemento.Detalles</td>
                            <td>
                                <div style="text-align:center;">
                                    <a class="btn btn-sm btn-outline-info" href="~/Requisito/Detalle/@oElemento.IdRequisito">Ver Detalles</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>