@model List<FrontEnd.Models.ViewModels.RequisitoViewModel>
@{
    ViewBag.Title = "Requisitos";
    List<SelectListItem> items1 = (List<SelectListItem>)ViewBag.items1;
    List<SelectListItem> items2 = (List<SelectListItem>)ViewBag.items2;
}

<style>
    td {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Requisito", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items1, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado", @onclick = "ocultarRequisito()" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Detalle de Requisito";
                </script>

            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();"/>
                @Html.DropDownList("tiposRequisito", items2, new { @class = "form-select", @id = "tipoRequisito", @name = "tipoRequisito", @style = "display:none" })

            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    }
    <hr />
    <table class="table table-bordered  table-sm" id="idtablaRequisitos">
        <thead class="table-dark">
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Policía</th>
                <th scope="col">Detalle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <th scope="row">@oElemento.VistaTipoRequisito</th>
                    <td style="max-width: 200px;">@oElemento.NombrePolicia</td>
                    <td style="max-width: 250px;">@oElemento.Detalles</td>
                    <td  style="max-width: 200px;" class="d-flex justify-content-center">
                        <a class="btn btn-sm btn-outline-secondary" href="~/Requisito/DetalleIndex/@oElemento.IdRequisito">Ver Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#idtablaRequisitos').DataTable({
            searching: false,
            lengthMenu: [[10], [10]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });

    function ocultarRequisito() {

        var aux1 = document.getElementById("tipoRequisito");
        var aux2 = document.getElementById("filtroSeleccionado");
        var aux3 = document.getElementById('busqueda');
        if (aux2.options[aux2.selectedIndex].textContent === "Tipo de Requisito") {
            aux1.style.display = "block";
            aux3.style.display = "none"
        } else {
            aux1.style.display = "none";
            aux3.style.display = "block"
        }
    }
</script>