@model List<FrontEnd.Models.ViewModels.ListRequisitoViewModel>

@{
    ViewBag.Title = "Requisito";
}
<div class="container">
    <div class="row mb-3">
        <h2 class="display-4">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("Index", "Requisito", FormMethod.Get))
    {

<div class="row my-4">

    <div class="col-sm-3">
        <select class="form-control" name="searchBy" onclick="ocultar()" id="searchBy"></select>
    </div>

        <div class="col-sm-4">
            <input class="form-control" name="search" type="text" id="search" onkeyup="this.value = this.value.toUpperCase();" />
            <select class="form-control" name="tipoRequisito" id="tipoRequisito">
                <option value="" selected="selected">Selecione un tipo de requisito</option>
            </select>
        </div>
    
        <div class="col-sm-1">
            <button class="btn btn-primary">Buscar</button>
        </div>

    </div>
    }


    <div class="row">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Policía</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oElemento in Model)
                {
                    <tr>
                        <th scope="row">@oElemento.IdRequisito</th>
                        <td>@oElemento.Detalles</td>
                        <td>@oElemento.IdPolicia</td>
                        <td>@oElemento.TipoRequisito</td>
                        <td>
                            <a class="btn btn-outline-info" href="~/Requisito/Detalle/@oElemento.IdRequisito">Ver Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>