@model FrontEnd.Models.ViewModels.PoliciaViewModel

@{
    ViewBag.Title = "Información del Policía";
}

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.Nombre)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoCedula)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoCedula)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Cedula)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Cedula)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.FechaNacimiento)</b>
                    <text class="col-sm-8">
                        @{ var fecha = Model.FechaNacimiento.ToShortDateString(); }
                        @Html.DisplayTextFor(d => fecha)
                    </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Edad)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Edad)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.CorreoElectronico)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.CorreoElectronico)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Direccion)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Direccion)</text>
                </div>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoCelular)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoCelular)</text>
                </div>
            </li>
            @if (Model.TelefonoCasa != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoCasa)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoCasa)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.ContactoEmergencia)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.ContactoEmergencia)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.TelefonoEmergencia)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.TelefonoEmergencia)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstado)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstado)</text>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                    <a class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#show">Cambiar Estado</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12">

            <a href="~/Policia/Index/" class="btn btn-outline-secondary">Regresar</a>
            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
        <div style="text-align:center;">
            <a class="btn btn-primary" href="~/Policia/Editar/@Model.IdPolicia">Editar</a>
            <a class="btn btn-info" href="~/Requisito/Listado/@Model.IdPolicia">Ver Requisitos</a>
            <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdPolicia" target="_blank">Ver Auditorías</a>
        </div>
            }
        </div>
    </div>

    <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showLabel">Modificar Estado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea modificar el estado del policía?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" id="btnSave" href="~/Policia/CambioEstado/">Modificar</a>
                </div>
            </div>
        </div>
    </div>

</div>
