@model FrontEnd.Models.ViewModels.PoliciaViewModel

@{
    ViewBag.Title = "Policía";
}


<div class=" container">
    <div class="row mb-3">
        <h3 class="display-4">@ViewBag.Title</h3>
    </div>

    <div class="row mb-3">
        <h2> @Html.DisplayTextFor(d => d.Nombre)</h2>
    </div>
    <dl class=" row">
        @Html.HiddenFor(d => d.IdPolicia)
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TipoCedula)
        </dt>
        <dd id="req" class="col-sm-8">
            <script>
                function RequsitoText(e) {
                    var str = "";
                    if (e == 1) {
                        str = "Física";
                    }
                    else if (e == 2) {
                        str = "Residencia";
                    }
                    //document.getElementById('req').innerHTML = str;
                    return str;
                }

            document.write(RequsitoText(@Model.TipoCedula))
            </script>
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Cedula)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Cedula)
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Fecha_nacimiento)
        </dt>
        <dd class="col-sm-8">
            <text>@(Model.Fecha_nacimiento.ToShortDateString())</text>
        </dd>

        <dt class="col-sm-4">
            @Html.Label("Edad")
        </dt>
        <dd class="col-sm-8">
            <text>@(@DateTime.Now.Year - Model.Fecha_nacimiento.Year)</text>
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.CorreoElectronico)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.CorreoElectronico)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Direccion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Direccion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TelefonoCelular)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.TelefonoCelular)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TelefonoCasa)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.TelefonoCasa)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.ContactoEmergencia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.ContactoEmergencia)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.TelefonoEmergencia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.TelefonoEmergencia)
        </dd>

        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Estado)
        </dt>
        <dd id="req" class="col-sm-8">

            <script>
                function RequsitoText(e) {
                    var str = "";
                    if (e == 3) {
                        str = "Activo";
                    }
                    else if (e == 4) {
                        str = "Inactivo";
                    }
                    //document.getElementById('req').innerHTML = str;
                    return str;
                }

            document.write(RequsitoText(@Model.Estado))
            </script>

        </dd>
    </dl>

    <div class="row" style="text-align:right;">
        <a class="btn btn-warning" data-toggle="modal" data-target="#show3">Cambiar Estado</a>
        </div>

        <div style="text-align:center;">
            <a class="btn btn-primary" href="~/Policia/Editar/@Model.IdPolicia">Editar</a>
            <a class="btn btn-info" href="~/Requisito/Index/@Model.IdPolicia">Ver Requisitos</a>

        </div>
    </div>
<div class="modal" id="show3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea modificar el estado del policía?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="Cancel" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-primary" id="Save" href="~/Policia/CambioEstado/@Model.Estado">Modificar</a>
            </div>
        </div>
    </div>
</div>