@model FrontEnd.Models.ViewModels.PoliciaViewModel
@{ ViewBag.Title = "Agregar Información de Policí­a"; }



<div class="container">
    <div class="row mb-3">
        <h2 class="display-4">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("Nuevo", "Policia", FormMethod.Post))
    {
<div class="container">

    <div class="form-group col-md-2">
        @Html.LabelFor(d => d.TipoCedula)
        @Html.DropDownListFor(d => d.TipoCedula, new List<SelectListItem> {
                        new SelectListItem{ Value = "1", Text = "Fisica"},
                        new SelectListItem{ Value = "2", Text = "Residencia"}
                      },
                                                                  new { @class = "myselect form-control" })
        @Html.ValidationMessageFor(d => d.TipoCedula, null, new { @class = "red" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(d => d.Cedula)
        @Html.TextBoxFor(d => d.Cedula, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "red" })
    </div>
    <div class="form-group col-md-6">

        @Html.LabelFor(d => d.Nombre)
        @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(d => d.Fecha_nacimiento)<br />
        @Html.EditorFor(d => d.Fecha_nacimiento, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Fecha_nacimiento, null, new { @class = "red" })

    </div>
    <div class="form-group col-md-3">

        @Html.LabelFor(d => d.TelefonoCelular)
        @Html.TextBoxFor(d => d.TelefonoCelular, "", new { @class = "inputphone form-control" })
        @Html.ValidationMessageFor(d => d.TelefonoCelular, null, new { @class = "red" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(d => d.TelefonoCasa)
        @Html.TextBoxFor(d => d.TelefonoCasa, "", new { @class = "inputphone form-control" })
        @Html.ValidationMessageFor(d => d.TelefonoCasa, null, new { @class = "red" })

    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(d => d.Direccion)
        @Html.TextAreaFor(d => d.Direccion, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Direccion, null, new { @class = "red" })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(d => d.CorreoElectronico)
        @Html.TextBoxFor(d => d.CorreoElectronico, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.CorreoElectronico, null, new { @class = "red" })
    </div>

    <div class="form-group col-md-6">

        @Html.LabelFor(d => d.ContactoEmergencia)
        @Html.TextBoxFor(d => d.ContactoEmergencia, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.ContactoEmergencia, null, new { @class = "red" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(d => d.TelefonoEmergencia)
        @Html.TextBoxFor(d => d.TelefonoEmergencia, "", new { @class = "inputphone form-control" })
        @Html.ValidationMessageFor(d => d.TelefonoEmergencia, null, new { @class = "red" })
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <div style="text-align:right;">
                <input value="Agregar Información" class="btn btn-primary" type="submit" />

            </div>
        </div>
    </div>
</div>}


</div>
