@model FrontEnd.Models.ViewModels.PoliciaViewModel
@{ ViewBag.Title = "Agregar Información del Policí­a"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Nuevo", "Policia", FormMethod.Post))
    {
        <div class="row mb-4">
            <div class="form-group col-sm-2 position-relative">
                @Html.LabelFor(d => d.TipoCedula, new { @class = "form-label" })
                @Html.DropDownListFor(d => d.TipoCedula, Model.TiposCedula, "--Seleccione--", new { @class = "form-select" })
                @Html.ValidationMessageFor(d => d.TipoCedula, "", new { @class = "red" })
            </div>
            <div class="form-group col-sm-4 position-relative">
                @Html.LabelFor(d => d.Cedula, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.Cedula, "", new { @class = "form-control", @maxlength = "25", @style = "text-transform:uppercase", @onkeydown = "return /[0-9a-zA-Z]/i.test(event.key)", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "red" })

            </div>
            <div class="form-group col-sm-6 position-relative">
                @Html.LabelFor(d => d.Nombre, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control", @maxlength = "150", @style = "text-transform:uppercase", @onkeydown = "return /[a-z,A-Z ,Á,á,é,É,í,Í,ó,Ó,ú,Ú]/i.test(event.key)", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-sm-2 position-relative">
                @Html.LabelFor(d => d.FechaNacimiento, new { @class = "form-label" })
                @Html.EditorFor(d => d.FechaNacimiento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.FechaNacimiento, "", new { @class = "red" })
            </div>
            <div class="form-group col-sm-3 position-relative">
                @Html.LabelFor(d => d.TelefonoCelular, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.TelefonoCelular, "", new { @class = "form-control", @autocomplete = "new-password", @maxlength = "9", @onfocusout = "LimpiaGuion(this)", @onKeyup = " ValidarTelefono(this)" })
                @Html.ValidationMessageFor(d => d.TelefonoCelular, null, new { @class = "red" })
            </div>
            <div class="form-group col-sm-3 position-relative">
                @Html.LabelFor(d => d.TelefonoCasa, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.TelefonoCasa, "", new { @class = "form-control", @autocomplete = "new-password", @maxlength = "9", @onfocusout = "LimpiaGuion(this)", @onKeyup = " ValidarTelefono(this)" })
            </div>
            <div class="form-group col-sm-4 position-relative">
                @Html.LabelFor(d => d.CorreoElectronico, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.CorreoElectronico, "", new { @class = "form-control", @maxlength = "100", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.CorreoElectronico, "", new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-sm-12 position-relative">
                @Html.LabelFor(d => d.Direccion, new { @class = "form-label" })
                @Html.TextAreaFor(d => d.Direccion, new { @class = "form-control", @maxlength = "250", @style = "text-transform:uppercase", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.Direccion, null, new { @class = "red" })
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col-sm-6 position-relative">
                @Html.LabelFor(d => d.ContactoEmergencia, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.ContactoEmergencia, "", new { @class = "form-control", @maxlength = "150", @style = "text-transform:uppercase", @onkeydown = "return /[a-zA-Z, ,Á,á,é,É,í,Í,ó,Ó,ú,Ú]/i.test(event.key)", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(d => d.ContactoEmergencia, null, new { @class = "red" })
            </div>
            <div class="form-group col-sm-3 position-relative">
                @Html.LabelFor(d => d.TelefonoEmergencia, new { @class = "form-label" })
                @Html.TextBoxFor(d => d.TelefonoEmergencia, "", new { @class = "form-control", @autocomplete = "new-password", @maxlength = "9", @onKeyup = " ValidarTelefono(this)" })
                @Html.ValidationMessageFor(d => d.TelefonoEmergencia, null, new { @class = "red" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <a href="~/Policia/Index/" class="btn btn-outline-secondary">Regresar</a>
                <div style="text-align:center;">
                    <a class="btn btn-secondary " href="~/Policia/Index">Cancelar</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show">Guardar</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="show" tabindex="-1" aria-labelledby="showLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showLabel">Agregar un Policía</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea guardar un nuevo policía?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" id="Cancel" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnSave" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    }


</div>


<script>

    function ValidarTelefono(f) {

        var r = /(\D+)/g,
            first4 = '',
            last4 = '';
        f.value = f.value.replace(r, '');
        first4 = f.value.substr(0, 4);
        last4 = f.value.substr(4, 8);
        f.value = first4 + '-' + last4;

    }
    function LimpiaGuion(f) {
        if (f.value.length <= 1) {
            f.value = "";
        }
    }
</script>