@model FrontEnd.Models.ViewModels.InfractorViewModel

@{
    ViewBag.Title = "Información del Infractor";
}

<div class="container bg-light text-dark border" style=" height:auto; padding-bottom:10px; margin-bottom:50px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4" style="text-align:center;">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2> @Html.DisplayTextFor(d => d.Nombre)</h2>
        </div>
    </div>
    <dl class=" row">
        @Html.HiddenFor(d => d.IdInfractor)
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaTipoidentifiacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaTipoidentifiacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Identificacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Identificacion)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaNacionalidad)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaNacionalidad)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.FechaNacimiento)
        </dt>
        <dd class="col-sm-8">
            @{ var fecha = Model.FechaNacimiento.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Edad)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Edad)
        </dd>
        @if (Model.ApodoInfractor != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Conocido como")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.ApodoInfractor)
            </dd>
        }
        @if (Model.RasgosFisicos != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Rasgos Físicos")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.RasgosFisicos)
            </dd>
        }
        @if (Model.Telefono != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Teléfono")
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.Telefono)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.DireccionExacta)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.DireccionExacta)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaSexo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.VistaSexo)
        </dd>
        @if (Model.CorreoElectronico != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Correo Electrónico")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.CorreoElectronico)
            </dd>
        }
        @if (Model.ProfesionUOficio != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Profesión u Oficio")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.ProfesionUOficio)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Estatura)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayTextFor(d => d.Estatura)
        </dd>
        @if (Model.Tatuajes != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Tatuaje")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.Tatuajes)
            </dd>
        }
        @if (Model.NombrePadre != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Nombre del Padre")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.NombrePadre)
            </dd>
        }
        @if (Model.NombreMadre != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Nombre de la Madre")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.NombreMadre)
            </dd>
        }
        @if (Model.Observaciones != null)
        {
            <dt class="col-sm-4">
                @Html.Label("Observación")
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayTextFor(d => d.Observaciones)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.Imagen)
        </dt>
        <dd class="col-sm-8">
            <img src="@Url.Content(Model.Imagen)" style="width:100px;height:100px;">
        </dd>
    </dl>
    <hr />
    @if (@ViewBag.smseditarinfractor != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smseditarinfractor</h4>
        </div>}
    @if (@ViewBag.smsnuevoinfractor != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4> @ViewBag.smsnuevoinfractor</h4>
        </div>}
   
    <div class="row">
        <div class="col-sm-12">
            <a href="~/Infractor/Index/" class="btn btn-outline-secondary">Regresar</a>
            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/Infractor/Editar/@Model.IdInfractor">Editar</a>
                <a class="btn btn-info">Ver Infracciones</a>
            </div>
        </div>
    </div>
</div>