@model FrontEnd.Models.ViewModels.ActaEntregaViewModel

@{ ViewBag.Title = "Detalle de Acta de Entrega"; }


<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title </h2>
            </div>
        </div>
    </div>

    <hr />

    <dl class="row">

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NumeroFolio)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NumeroFolio)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaPoliciaEncargado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaEncargado)
        </dd>
        <dt class="col-sm-4">
            @Html.LabelFor(d => d.VistaPoliciaTestigo)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaTestigo)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Supervisor)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaInstalaciones)
        </dt>
        <dd id="req" class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaInstalaciones)
        </dd>

        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Fecha)
        </dt>
        <dd class="col-sm-8 ">
            @{ var fecha = Model.Fecha.ToShortDateString(); }
            @Html.DisplayTextFor(d => fecha)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Hora)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Hora.TimeOfDay)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.RazonSocial)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.RazonSocial)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CedulaJuridica)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaJuridica)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.VistaTipoActa)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.VistaTipoActa)
        </dd>
        @if (Model.ConsecutivoActaDecomiso != null)
        {
            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ConsecutivoActaDecomiso)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.ConsecutivoActaDecomiso)
            </dd>
        }
        else
        {

            <dt class="col-sm-4 ">
                @Html.LabelFor(d => d.ConsecutivoActaHallazgo)
            </dt>
            <dd class="col-sm-8 ">
                @Html.DisplayTextFor(d => d.ConsecutivoActaHallazgo)
            </dd>

        }
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.NombreDe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.NombreDe)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.IdentificacionEntregado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.IdentificacionEntregado)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.Recibe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.Recibe)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.CedulaRecibe)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.CedulaRecibe)
        </dd>
        <dt class="col-sm-4 ">
            @Html.LabelFor(d => d.InventarioEntregado)
        </dt>
        <dd class="col-sm-8 ">
            @Html.DisplayTextFor(d => d.InventarioEntregado)
        </dd>
    </dl>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaEntrega/Index/" class="btn btn-outline-secondary">Regresar</a>

            <div style="text-align:center;">
                <a class="btn btn-primary" href="~/ActaEntrega/Editar/@Model.IdActaEntrega">Editar</a>

            </div>
        </div>

    </div>


</div>
