@model FrontEnd.Models.ViewModels.ActaEntregaViewModel

@{ ViewBag.Title = "Detalle de Acta de Entrega"; }

<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; padding-bottom: 20px; margin-bottom: 28px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>

    <hr />
    <div class="card col-md-12">
        <div class="card-header">
            <h2> @Html.DisplayTextFor(d => d.NumeroFolio)</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaPoliciaEncargado)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaPoliciaEncargado)</text>
                </div>
            </li>
            @if (Model.TestigoPolicia != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTestigoPolicia)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTestigoPolicia)</text>
                    </div>
                </li>
            }
            @if (Model.TestigoPersona != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTestigoPersona)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTestigoPersona)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaPoliciaSupervisor)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaPoliciaSupervisor)</text>
                </div>
            </li>
          
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Fecha)</b>
                    <text class="col-sm-8">
                        @{ var fecha = Model.Fecha.ToShortDateString(); }
                        @Html.DisplayTextFor(d => fecha)
                    </text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.Hora)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.Hora.TimeOfDay)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaRecibe)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaRecibe)</text>
                </div>
            </li>
            @if (Model.RazonSocial != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.VistaRazonSocial)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaRazonSocial)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaTipoActa)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaTipoActa)</text>
                </div>
            </li>
            @if (Model.ConsecutivoActaDecomiso != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.ConsecutivoActaDecomiso)</b>
                        <a class="col-sm-8" href="~/ActaDecomiso/Detalle/@Model.IdActaDecomiso" target="_blank">
                            @Html.DisplayTextFor(d => d.ConsecutivoActaDecomiso)
                        </a>
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.ConsecutivoActaHallazgo)</b>

                        <a class="col-sm-8" href="~/ActaHallazgo/Detalle/@Model.IdActaHallazgo" target="_blank">
                            @Html.DisplayTextFor(d => d.ConsecutivoActaHallazgo)
                        </a>

                    </div>
                </li>
            }
            @if (Model.NombreDe != null)
            {
                <li class="list-group-item">
                    <div class="row">
                        <b class="col-sm-4"> @Html.LabelFor(d => d.NombreDe)</b>
                        <text class="col-sm-8">@Html.DisplayTextFor(d => d.NombreDe)</text>
                    </div>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.InventarioEntregado)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.InventarioEntregado)</text>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <b class="col-sm-4"> @Html.LabelFor(d => d.VistaEstadoActa)</b>
                    <text class="col-sm-8">@Html.DisplayTextFor(d => d.VistaEstadoActa)</text>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a href="~/ActaEntrega/Index/" class="btn btn-outline-secondary">Regresar</a>

            @if (Session["Rol"].ToString() == "2" || Session["Rol"].ToString() == "3" || Session["Rol"].ToString() == "5")
            {
        <div style="text-align:center;">
            <a class="btn btn-primary" href="~/ActaEntrega/Editar/@Model.IdActaEntrega">Editar</a>
            <a class="btn btn-secondary" href="~/Auditoria/ListadoAuditoria/@Model.IdActaEntrega" target="_blank">Ver Auditorías</a>
            <a href="~/ActaEntrega/CreatePDF/@Model.IdActaEntrega" class="btn btn-outline-secondary">Imprimir</a>

        </div>
            }
        </div>

    </div>

</div>
